<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.category.TProGroupMapper">
    <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.category.entity.TProGroup">
        <id column="Id" property="id" jdbcType="BIGINT"/>
        <result column="copId" property="copid" jdbcType="INTEGER"/>
        <result column="store_code" property="storeCode" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_Id" property="parentId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="display_index" property="displayIndex" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="publish_time_type" property="publishTimeType" jdbcType="INTEGER"/>
        <result column="publish_time_unit" property="publishTimeUnit" jdbcType="INTEGER"/>
        <result column="publish_time_value" property="publishTimeValue" jdbcType="INTEGER"/>
        <result column="publish_time_start" property="publishTimeStart" jdbcType="TIMESTAMP"/>
        <result column="publish_time_end" property="publishTimeEnd" jdbcType="TIMESTAMP"/>
        <result column="selectedPFCategories" property="selectedpfcategories" jdbcType="VARCHAR"/>
        <result column="selectedPFAttrs" property="selectedpfattrs" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, copId, store_code, code, name, parent_Id, type, level, display_index, state, 
    pic_url, publish_time_type, publish_time_unit, publish_time_value, publish_time_start, 
    publish_time_end, selectedPFCategories, selectedPFAttrs, create_user, create_date, 
    update_user, update_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_pro_group
        where Id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pro_group
    where Id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wechat.manage.pojo.category.entity.TProGroup">
    insert into t_pro_group (Id, copId, store_code, 
      code, name, parent_Id, 
      type, level, display_index, 
      state, pic_url, publish_time_type, 
      publish_time_unit, publish_time_value, publish_time_start, 
      publish_time_end, selectedPFCategories, 
      selectedPFAttrs, create_user, create_date, 
      update_user, update_date)
    values (#{id,jdbcType=BIGINT}, #{copid,jdbcType=INTEGER}, #{storeCode,jdbcType=VARCHAR}, 
      #{code,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{displayIndex,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR}, #{publishTimeType,jdbcType=INTEGER}, 
      #{publishTimeUnit,jdbcType=INTEGER}, #{publishTimeValue,jdbcType=INTEGER}, #{publishTimeStart,jdbcType=TIMESTAMP}, 
      #{publishTimeEnd,jdbcType=TIMESTAMP}, #{selectedpfcategories,jdbcType=VARCHAR}, 
      #{selectedpfattrs,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.wechat.manage.pojo.category.entity.TProGroup">
        insert into t_pro_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="copid != null">
                copId,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parent_Id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="displayIndex != null">
                display_index,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="publishTimeType != null">
                publish_time_type,
            </if>
            <if test="publishTimeUnit != null">
                publish_time_unit,
            </if>
            <if test="publishTimeValue != null">
                publish_time_value,
            </if>
            <if test="publishTimeStart != null">
                publish_time_start,
            </if>
            <if test="publishTimeEnd != null">
                publish_time_end,
            </if>
            <if test="selectedpfcategories != null">
                selectedPFCategories,
            </if>
            <if test="selectedpfattrs != null">
                selectedPFAttrs,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="copid != null">
                #{copid,jdbcType=INTEGER},
            </if>
            <if test="storeCode != null">
                #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="displayIndex != null">
                #{displayIndex,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishTimeType != null">
                #{publishTimeType,jdbcType=INTEGER},
            </if>
            <if test="publishTimeUnit != null">
                #{publishTimeUnit,jdbcType=INTEGER},
            </if>
            <if test="publishTimeValue != null">
                #{publishTimeValue,jdbcType=INTEGER},
            </if>
            <if test="publishTimeStart != null">
                #{publishTimeStart,jdbcType=TIMESTAMP},
            </if>
            <if test="publishTimeEnd != null">
                #{publishTimeEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="selectedpfcategories != null">
                #{selectedpfcategories,jdbcType=VARCHAR},
            </if>
            <if test="selectedpfattrs != null">
                #{selectedpfattrs,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.category.entity.TProGroup">
        update t_pro_group
        <set>
            <if test="copid != null">
                copId = #{copid,jdbcType=INTEGER},
            </if>
            <if test="storeCode != null">
                store_code = #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_Id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="displayIndex != null">
                display_index = #{displayIndex,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="publishTimeType != null">
                publish_time_type = #{publishTimeType,jdbcType=INTEGER},
            </if>
            <if test="publishTimeUnit != null">
                publish_time_unit = #{publishTimeUnit,jdbcType=INTEGER},
            </if>
            <if test="publishTimeValue != null">
                publish_time_value = #{publishTimeValue,jdbcType=INTEGER},
            </if>
            <if test="publishTimeStart != null">
                publish_time_start = #{publishTimeStart,jdbcType=TIMESTAMP},
            </if>
            <if test="publishTimeEnd != null">
                publish_time_end = #{publishTimeEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="selectedpfcategories != null">
                selectedPFCategories = #{selectedpfcategories,jdbcType=VARCHAR},
            </if>
            <if test="selectedpfattrs != null">
                selectedPFAttrs = #{selectedpfattrs,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where Id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.category.entity.TProGroup">
    update t_pro_group
    set copId = #{copid,jdbcType=INTEGER},
      store_code = #{storeCode,jdbcType=VARCHAR},
      code = #{code,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      parent_Id = #{parentId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      display_index = #{displayIndex,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      publish_time_type = #{publishTimeType,jdbcType=INTEGER},
      publish_time_unit = #{publishTimeUnit,jdbcType=INTEGER},
      publish_time_value = #{publishTimeValue,jdbcType=INTEGER},
      publish_time_start = #{publishTimeStart,jdbcType=TIMESTAMP},
      publish_time_end = #{publishTimeEnd,jdbcType=TIMESTAMP},
      selectedPFCategories = #{selectedpfcategories,jdbcType=VARCHAR},
      selectedPFAttrs = #{selectedpfattrs,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectGroupList" resultMap="BaseResultMap" parameterType="HashMap">
        select
        <include refid="Base_Column_List"/>
        from t_pro_group
        limit #{start}, #{limit}
    </select>
    <select id="selectGroupCount" resultType="java.lang.Integer" parameterType="HashMap">
    select
    count(1)
    from t_pro_group
  </select>
</mapper>