.phoneViews{
    width:325px;
    /*background: #ccc;*/
    display: table-cell;
    vertical-align: top;
}
.controlShow{
    display: table-cell;
    vertical-align: top;
    padding:0 20px;
}
.phoneShow{
    display: table;
    width: 100%;
}

.ui-form-field {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eaeaea;
    display: block;
    height: 42px;
    line-height: 42px;
    width: 100%;
}
.ui-form-field {
    line-height: 42px;
}
.ui-form-field-inner {
    display: block;
    padding: 0 10px;
}
.ui-form-field b {
    font-size: 14px;
    font-weight: normal;
    margin-right: 20px;
}
.ui-input-operation {
    display: table;
    float: right;
    height: 42px;
}
.ui-input-operation-cell {
    display: table-cell;
    line-height: normal;
    vertical-align: middle;
}
.ui-form-field b img{
    height: 21px;
    vertical-align: middle;
}


.ui-node-card .ui-form-field-inner {
    /*line-height: 74px;*/
    height: 180px;
    line-height:auto;
    padding: 35px 10px 40px;
}
.ui-node-img {
    height: 144px;
    line-height: normal;
}

.ui-field-group{
    margin-bottom:15px;
}


.bg-blue {
    background-color: #4c71b8;
}

.ui-field-group{
    margin-bottom: 15px;
}


.c-gray {
    color: #aaaaaa;
}


.f-r {
    float: right;
}

.phoneViews .ui-page{
    border: 2px solid #797979;
    border-radius: 0 0 7px 7px;
    /*height: 430px;*/
    position: relative;
    width: 330px;
    padding:10px;
    margin:0 auto;
    background: #dddddd;
}
.phoneViews .phoneViewsHead{
    background: #797979 none repeat scroll 0 0;
    color: #ffffff;
    border-radius: 7px 7px 0 0;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 330px;
    margin:0 auto;
}
.ui-cio-24{
    font-size: 24px;
}


.ui-node-img b img {
    border-radius: 100px;
    height: 32px;
    width: 32px;
}
.display-block {
    display: block;
}

.ui-node-img b {
    float: left;
}
.f-l {
    float: left;
}

.c-white {
    color: #fff;
}

a.ui-form-field, a.ui-form-field:hover{
    color: #000;
    text-decoration: none;
}

.fz-24{
    font-size: 12px;
}
.fz-28{
    font-size: 28px;
}
.fz-32{
    font-size: 16px;
}
.fz-44{
    font-size: 22px;
}
.fz-48{
    font-size: 24px;
}
.fz-54{
    font-size: 27px;
}

body label{
    margin:0;
}
.ui-node-img2{
    height: 100px;
}
.ui-node-card02 .ui-form-field-inner{
    height:116px;
}

.ui-node-card02 .ui-node-card-footer{
    padding:0 10px;
}



.ui-nm {
    background: #45c01a none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin:0 10px;
    text-align: center;
    width: 17px;
}
.phoneShow p{
    margin:0
}
.text-center{
    padding:7px 0;
}


.hoverOperation{
    position: relative;
}
.hoverOperation .hoverOperationCot{
    display: none;
}
.hoverOperationCot{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
    left:0;
    top:0;
    border:2px dashed #FF8080;
    z-index: 10;
}
.hoverOperation:hover .hoverOperationCot, .cur .hoverOperationCot{
    display: block;

}

.hoverOperationFooter{
    position: absolute;
    right: 40px;
    bottom:0;

}
.hoverOperationFooter a{
    background: #333;
    color: #fff;
    display: inline-block;
    padding:3px 7px;
    margin-left:7px;
}

.hoverOperationCenter{
    display: table;
    width: 100%;
    height: 100%;
}
.hoverCell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}
.showHover{
    position: relative;
}
.showHover .showHoverCot{
    display: none;
    width: 100%;
    padding:7px;
    position: absolute;
    left:0;
    top:30px;
    background: #fff;
    border:1px solid #ddd;
    z-index: 999;
}

.showHover:hover .showHoverCot{
    display: block;

}

/*add*/
.phoneViews .ui-page{
    min-height: 300px;
}
#controllerTgt > div{
    /*display: none;*/
}
#controllerTgt > div.cur{
    display: block;
    border:2px solid #797979;
    border-radius: 7px;
    padding:20px;
}
.wclear:after{ content:""; visibility:hidden; display:block; font-size:0; line-height:0; clear:both }
.wclear{ zoom: 1;}

.imgNav{
    /*width: 25%;*/
    height: auto;
    float: left;
}


.imgNav img{
    width: 48px;
    height: 48px;
}
.imgNav > span > *{
    display: block;
    text-align: center;
}
.phoneViewsInner{
    position: relative;
}
.control-tools{
    position: absolute;
    left:3px;
    bottom:-179px;
    width: 320px;
    background: #fff;
    border:2px solid #797979;
    padding:20px;

}
.control-tools span{
    display: inline-block;
    padding:10px 15px;
    border:1px solid #797979;
    width: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}
#controllerTgt{
    width: 480px;
    background: #f1f1f1;
}
#controllerTgt .form-control{
    width: auto;
}

#controllerTgt .nodeItem{
    display: none;
}
#controllerTgt .cur{
    display: block;
    position: absolute;
    width: 500px;
}
.controllerNode{
    padding-top: 20px;
    border:1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}
.wdn{
    display: none;
}

.subline{
    height: 0;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px dashed #000;
}
.cItemsList{
    background: #fff;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nodeItem{
    background: #ddd;
}
.cItemsList{
    position: relative;
}
.cItemsList .handel{
    position: absolute;
    right: 0;
    top:-10px;
    /*display: none;*/
}

.cItemsList:hover .handel{
    display: block;
}

.cItemsList .handel span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 100;
}

.homeSwiper .ui-form-field{
    background: transparent;
}

/*h5*/
.homeSwiper .swiper-slide{
    position: relative;
}
.homeSwiper .swiper-slide > img{
    position: absolute;
    width: 100%;
    min-height: 150px;
    left:0;
    top:0;
    z-index: 0;
}
.homeSwiper .swiper-slide >.s-cot{
    position: relative;
    z-index: 1;
}

.homeSwiper .show .swiper-slide:nth-child(2){
    display: block;
}
.homeSwiper .hid .swiper-slide:nth-child(2){
    display: none;
}
.cItemsList .show{
    display: block;
}
.cItemsList .hid{
    display: none;
}

.vItemsList{
    width: 25%;
    float: left;
}

.addItem{
    display: block;
}

.cItemsList .handel .wdn{
    display: none;
}
.selectLink, .selectLink .dropdown{
    display: inline;
}


.homeSwiper .swiper-slide > .s-cot{
    text-align: center;

}
.userImg{
    width: 96px;
    height: 96px;
    overflow: hidden;
    display: inline-block;
    margin:0 auto;
    border-radius: 1000px;
    border:7px solid #fff;
}
.userImg img{
    width: 100%;
    min-width: 96px;
    min-height: 96px;

}
.homeSwiper .swiper-slide {
    overflow: hidden;
    position: relative;
    height: 128px;
}
.ui-s-ewm{
    height: 96px;
    width: 96px;
}
.wPopup {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #cccccc;
    padding: 7px;
    position: absolute;
    width: 260px;
    z-index: 9999;
}

.nodeImgs {
    height: auto;
}

.nodeImgs img {
    max-width: 100%;
}
/*20150909*/
.bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    min-height: 220px;
}

.ui-node-card .ui-form-field-inner {
    padding-top: 10px;
}

.CD {
    font-size: 18px !important;
}

.bg-img-bottom {
    position: relative;
    z-index: 2;
}

.pageTitle {
    width: 100%;
    display: block;
    text-align: center;
    top: -38px;
    position: absolute;
    z-index: 999;
    color: #ffffff;
    font-size: 16px;
}
.sublineStyle{
    border-bottom:1px dashed #bbb;
}
/*********微信页面管理-添加内容 hm 2016/1/5************/
body .control-tools {
    background: #545454 none repeat scroll 0 0!important;
    border: 1px solid #2b323a!important;
    width: 324px!important;
}

body .control-tools span {
    background: none;
    color: #fff;
}

.control-tools span {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0px;
    padding: 0px;
}

.control-tools {
    padding: 0px;
}

.control-tools .addNav {
    height: 65px;
    width: 65px;
    display: table;
    color: #fff;
    text-align: center;
    float: left;
    text-decoration: none;
    padding: 13px 10px;
}

.control-tools .addNav span:first-child {
    margin-bottom: 8px;
}

.control-tools .addNav:hover {
    background: #3f3f3f;
}
/*********微信页面管理-添加内容 end************/

/*微信页面管理 浮动增加删除 20160107 begin by hm*/
.hoverOperationFooter{
    width: 302px;
    background-color: #fcc6c2;
    padding: 3px;
    opacity: 0.7;
    right: 0px!important;
}
.hoverOperationFooter span{
    float: right;
}
.hoverOperationFooter a {
    background: #eeeeee;
    padding: 9px !important;
    border-radius: 99px;
    color: #fff;
    display: inline-block;
    margin-left: 7px;
}
.hoverOperationFooter a:hover{
    background: #c7c7c7;
}
/*20160107 begin by hm*/
.hoverOperationCot .hoverOperationCenter .hoverCell span {
    cursor: pointer;
    z-index: 10;
}
.hoverOperationCot .hoverOperationFooter > span {
    float: right;
    margin-right: 33px;
}