<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.CouponMemberMapper" >
  <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.CouponMember" >
    <id column="sid" property="sid" jdbcType="BIGINT" />
    <result column="coupon_sid" property="couponSid" jdbcType="BIGINT" />
    <result column="member_sid" property="memberSid" jdbcType="VARCHAR" />
    <result column="use_state" property="useState" jdbcType="INTEGER" />
    <result column="collection_time" property="collectionTime" jdbcType="TIMESTAMP" />
    <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="coupon_start_no" property="couponStartNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, coupon_sid, member_sid, use_state, collection_time, use_time, coupon_code, coupon_start_no
  </sql>
  
  <select id="getCouponStatisticsCount" resultType="java.lang.Integer" parameterType="HashMap">
  		SELECT
			count(info.sid)
		FROM
			coupon_info info
		<where>
			<if test="sid != null">
				AND info.sid = #{sid,jdbcType=BIGINT}
			</if>
		</where>
  </select>
  <select id="getCouponStatistics" resultType="com.wechat.manage.pojo.wechat.vo.CouponStatisticsDto" parameterType="HashMap">
  	SELECT
		info.sid as sid,
		info.card_type as cardType,
		info.title as title,
		(
			SELECT
				count(sid)
			FROM
				coupon_member mem
			WHERE
				mem.coupon_sid = info.sid
		) AS sendCount,
		(
			SELECT
				count(sid)
			FROM
				coupon_member mem
			WHERE
				mem.coupon_sid = info.sid
			AND mem.use_state = 1
		) AS useCount
	FROM
		coupon_info info
	<where>
		<if test="sid != null">
			AND info.sid = #{sid,jdbcType=BIGINT}
		</if>
	</where>
	order by
	sid asc
	limit
	#{start}, #{limit}
  </select>
  
  <select id="getCouponCodeByOpenIdAndCardId" resultType="com.wechat.manage.pojo.wechat.vo.UserCouponInfoDto" parameterType="HashMap">
  		SELECT
			mem.coupon_code as couponCode,
			info.title as title,
			info.sub_title as subTitle,
			info.type as type,
			info.fixed_term as fixedTerm,
			mem.collection_time as collectionTime,
			info.end_timestamp as endTimestamp,
			info.image_name as imageName
		FROM
			coupon_info info
		JOIN coupon_member mem ON info.sid = mem.coupon_sid
		JOIN coupon_template tpl ON tpl.sid = info.tpl_sid
		<where>
			<if test="sid != null">
				mem.sid = #{sid,jdbcType=BIGINT}
			</if>
		</where>
  </select>
  
  <select id="getCountByOpenIdAndStoreCode" resultType="java.lang.Integer"
		parameterType="HashMap">
		SELECT
			count(info.sid)
		FROM
			coupon_info info
		JOIN coupon_member mem ON info.sid = mem.coupon_sid
		WHERE
			mem.member_sid = #{openId,jdbcType=VARCHAR}
		AND
			info.store_code = #{storeCode,jdbcType=VARCHAR}
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from coupon_member
    where sid = #{sid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from coupon_member
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.wechat.manage.pojo.wechat.entity.CouponMember" >
    insert into coupon_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="couponSid != null" >
        coupon_sid,
      </if>
      <if test="memberSid != null" >
        member_sid,
      </if>
      <if test="useState != null" >
        use_state,
      </if>
      <if test="collectionTime != null" >
        collection_time,
      </if>
      <if test="useTime != null">
      	use_time,
      </if>
      <if test="couponCode != null">
        coupon_code,
      </if>
      <if test="couponStartNo != null">
        coupon_start_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="couponSid != null" >
        #{couponSid,jdbcType=BIGINT},
      </if>
      <if test="memberSid != null" >
        #{memberSid,jdbcType=VARCHAR},
      </if>
      <if test="useState != null" >
        #{useState,jdbcType=INTEGER},
      </if>
      <if test="collectionTime != null" >
        #{collectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
      	#{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponCode != null">
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponStartNo != null">
        #{couponStartNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.CouponMember" >
    update coupon_member
    <set >
      <if test="couponSid != null" >
        coupon_sid = #{couponSid,jdbcType=BIGINT},
      </if>
      <if test="memberSid != null" >
        member_sid = #{memberSid,jdbcType=VARCHAR},
      </if>
      <if test="useState != null" >
        use_state = #{useState,jdbcType=INTEGER},
      </if>
      <if test="collectionTime != null" >
        collection_time = #{collectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
      	use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponCode != null">
        coupon_code = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponStartNo != null">
        coupon_start_no = #{couponStartNo,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.wechat.entity.CouponMember" >
    update coupon_member
    set coupon_sid = #{couponSid,jdbcType=BIGINT},
      member_sid = #{memberSid,jdbcType=VARCHAR},
      use_state = #{useState,jdbcType=INTEGER},
      collection_time = #{collectionTime,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectListByParam" resultMap="BaseResultMap"
		parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from coupon_member
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="couponSid != null" >
				and coupon_sid = #{couponSid,jdbcType=BIGINT}
			</if>
			<if test="memberSid != null" >
				and member_sid = #{memberSid,jdbcType=VARCHAR}
			</if>
			<if test="useState != null" >
				and use_state = #{useState,jdbcType=INTEGER}
			</if>
			<if test="collectionTime != null" >
				and collection_time = #{collectionTime,jdbcType=TIMESTAMP}
			</if>
			<if test="useTime != null">
				and use_time = #{useTime,jdbcType=TIMESTAMP}
			</if>
			<if test="couponCode != null">
				and coupon_code = #{couponCode,jdbcType=VARCHAR}
			</if>
			<if test="couponStartNo != null">
				and coupon_start_no = #{couponStartNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectPageListByParam" resultMap="BaseResultMap"
		parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from coupon_member
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="couponSid != null" >
				and coupon_sid = #{couponSid,jdbcType=BIGINT}
			</if>
			<if test="memberSid != null" >
				and member_sid = #{memberSid,jdbcType=VARCHAR}
			</if>
			<if test="useState != null" >
				and use_state = #{useState,jdbcType=INTEGER}
			</if>
			<if test="collectionTime != null" >
				and collection_time = #{collectionTime,jdbcType=TIMESTAMP}
			</if>
			<if test="useTime != null">
				and use_time = #{useTime,jdbcType=TIMESTAMP}
			</if>
			<if test="couponCode != null">
				and coupon_code = #{couponCode,jdbcType=VARCHAR}
			</if>
			<if test="couponStartNo != null">
				and coupon_start_no = #{couponStartNo,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		sid asc
		limit
		#{start}, #{limit}
	</select>
	<select id="getCountByParam" resultType="java.lang.Integer"
		parameterType="HashMap">
		select
		count(sid)
		from coupon_member
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=BIGINT}
			</if>
			<if test="couponSid != null" >
				and coupon_sid = #{couponSid,jdbcType=BIGINT}
			</if>
			<if test="memberSid != null" >
				and member_sid = #{memberSid,jdbcType=VARCHAR}
			</if>
			<if test="useState != null" >
				and use_state = #{useState,jdbcType=INTEGER}
			</if>
			<if test="collectionTime != null" >
				and collection_time = #{collectionTime,jdbcType=TIMESTAMP}
			</if>
			<if test="useTime != null">
				and use_time = #{useTime,jdbcType=TIMESTAMP}
			</if>
			<if test="couponCode != null">
				and coupon_code = #{couponCode,jdbcType=VARCHAR}
			</if>
			<if test="couponStartNo != null">
				and coupon_start_no = #{couponStartNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>