<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.CouponInfoMapper">
	<resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		<id column="sid" property="sid" jdbcType="BIGINT" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="card_type" property="cardType" jdbcType="VARCHAR" />
		<result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
		<result column="code_type" property="codeType" jdbcType="VARCHAR" />
		<result column="brand_name" property="brandName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
		<result column="color" property="color" jdbcType="VARCHAR" />
		<result column="notice" property="notice" jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="begin_timestamp" property="beginTimestamp"
			jdbcType="TIMESTAMP" />
		<result column="end_timestamp" property="endTimestamp"
			jdbcType="TIMESTAMP" />
		<result column="get_limit" property="getLimit" jdbcType="INTEGER" />
		<result column="fixed_term" property="fixedTerm" jdbcType="INTEGER" />
		<result column="fixed_begin_term" property="fixedBeginTerm"
			jdbcType="INTEGER" />
		<result column="coupon_status" property="couponStatus"
			jdbcType="VARCHAR" />
		<result column="approval_userId" property="approvalUserid"
			jdbcType="VARCHAR" />
		<result column="approval_userName" property="approvalUsername"
			jdbcType="VARCHAR" />
		<result column="approval_time" property="approvalTime"
			jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_userId" property="createUserid"
			jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_userId" property="updateUserid"
			jdbcType="VARCHAR" />
		<result column="app_system" property="appSystem" jdbcType="VARCHAR" />
		<result column="tpl_sid" property="tplSid" jdbcType="INTEGER" />
		<result column="image_name" property="imageName" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMapDto" type="com.wechat.manage.pojo.wechat.vo.CouponInfoDto">
		<id column="sid" property="sid" jdbcType="BIGINT" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="card_type" property="cardType" jdbcType="VARCHAR" />
		<result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
		<result column="code_type" property="codeType" jdbcType="VARCHAR" />
		<result column="brand_name" property="brandName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
		<result column="color" property="color" jdbcType="VARCHAR" />
		<result column="notice" property="notice" jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="begin_timestamp" property="beginTimestamp"
			jdbcType="TIMESTAMP" />
		<result column="end_timestamp" property="endTimestamp"
			jdbcType="TIMESTAMP" />
		<result column="get_limit" property="getLimit" jdbcType="INTEGER" />
		<result column="fixed_term" property="fixedTerm" jdbcType="INTEGER" />
		<result column="fixed_begin_term" property="fixedBeginTerm"
			jdbcType="INTEGER" />
		<result column="coupon_status" property="couponStatus"
			jdbcType="VARCHAR" />
		<result column="approval_userId" property="approvalUserid"
			jdbcType="VARCHAR" />
		<result column="approval_userName" property="approvalUsername"
			jdbcType="VARCHAR" />
		<result column="approval_time" property="approvalTime"
			jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_userId" property="createUserid"
			jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_userId" property="updateUserid"
			jdbcType="VARCHAR" />
		<result column="app_system" property="appSystem" jdbcType="VARCHAR" />
		<result column="tpl_sid" property="tplSid" jdbcType="INTEGER" />
		<result column="cardSid" property="cardSid" jdbcType="VARCHAR" />
		<result column="useState" property="useState" jdbcType="INTEGER" />
		<result column="couponValue" property="couponValue" jdbcType="VARCHAR" />
		<result column="couponPriceLimit" property="couponPriceLimit" jdbcType="VARCHAR" />
		<result column="image_name" property="imageName" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.wechat.manage.pojo.wechat.entity.CouponInfo"
		extends="BaseResultMap">
		<result column="description" property="description" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		sid, store_code, card_type, logo_url, code_type, brand_name, title,
		sub_title, color,
		notice, quantity, type, begin_timestamp, end_timestamp, get_limit,
		fixed_term, fixed_begin_term,
		coupon_status, approval_userId, approval_userName, approval_time, create_time,
		create_userId,
		update_time, update_userId, app_system, tpl_sid, image_name
	</sql>
	<sql id="Blob_Column_List">
		description
	</sql>
	
	<select id="getCouponInfoByOpenIdAndStoreCode" resultType="com.wechat.manage.pojo.wechat.vo.CouponDto"  parameterType="HashMap">
		SELECT
			info.sid as infoSid,
			mem.sid as memSid,
			info.title as title,
			store.business_name as storeName,
			store.district as district,
			mem.use_state as useState,
			tpl.coupon_value as couponValue,
			tpl.coupon_price_limit as couponPriceLimit,
			info.image_name as imageName
		FROM
			coupon_info info
		JOIN coupon_member mem ON mem.coupon_sid = info.sid
		JOIN storeinfo store ON store.store_code = info.store_code
		JOIN coupon_template tpl on tpl.sid = info.tpl_sid
		<where>
			<if test="openId != null">
				and mem.member_sid = #{openId,jdbcType=VARCHAR}
			</if>
			<if test="storeCode != null">
				and info.store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="getCouponInfoForMem" resultType="com.wechat.manage.pojo.wechat.vo.CouponForMemDto"  parameterType="HashMap">
			SELECT
			info.card_type AS cardtype,
			mem.sid AS cardid,
			info.title AS title,
			mem.use_state AS cardStatus,
			info.end_timestamp AS endTime,
			mem.collection_time AS collectionTime
		FROM
			coupon_info info
		JOIN coupon_member mem ON mem.coupon_sid = info.sid
		JOIN storeinfo store ON store.store_code = info.store_code
		JOIN coupon_template tpl ON tpl.sid = info.tpl_sid
		<where>
			<if test="openId != null">
		and mem.member_sid = #{openId,jdbcType=VARCHAR}
			</if>
			<if test="storeCode != null">
				and info.store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getCouponInfoByStoreCode" resultType="com.wechat.manage.pojo.wechat.vo.CouponDto"  parameterType="HashMap">
		SELECT
			info.sid as infoSid,
			info.title as title,
			store.business_name as storeName,
			store.district as district,
			tpl.coupon_value as couponValue,
			tpl.coupon_price_limit as couponPriceLimit,
			info.end_timestamp AS endTime,
			info.image_name as imageName,
			info.quantity - (
				SELECT
					count(1)
				FROM
					coupon_member cm
				WHERE
					cm.coupon_sid = info.sid
			) AS currentNum
		FROM
			coupon_info info
		JOIN storeinfo store ON store.store_code = info.store_code
		JOIN coupon_template tpl on tpl.sid = info.tpl_sid
		<where>
			<if test="storeCode != null">
				and info.store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="infoSid != null">
				and info.sid = #{infoSid,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	
	<select id="getMemberViewList" resultType="com.wechat.manage.pojo.wechat.vo.MemberViewDto" parameterType="Map">
		SELECT
			mem2.openid,
			mem2.nickname,
			mem2.headimgurl,
			mem2.mobile,
			IFNULL(mem1.count, 0) AS count
		FROM
			memberinfo mem2
		LEFT JOIN (
			SELECT
				info.sid AS infoSid,
				mem.sid AS memSid,
				mem.nickname,
				COUNT(1) AS count,
				info.get_limit
			FROM
				memberinfo mem
			JOIN coupon_member cm ON mem.openid = cm.member_sid
			JOIN coupon_info info ON info.sid = cm.coupon_sid
			WHERE
				info.sid = #{couponSid,jdbcType=BIGINT}
			GROUP BY
				mem.sid
		) mem1 ON mem1.memSid = mem2.sid
		LEFT JOIN coupon_info info2 ON info2.sid = #{couponSid,jdbcType=BIGINT}
		AND info2.store_code = mem2.store_code
		WHERE
			info2.get_limit > IFNULL(mem1.count, 0)
		AND mem2.member_code IS NOT NULL
	</select>
	
	<select id="getCouponInfoListByOpenIdAndStoreCode" resultMap="BaseResultMapDto" parameterType="HashMap">
  	SELECT
		info.*,
		mem.sid as cardSid,
		mem.use_state as useState,
		tpl.coupon_value as couponValue,
		tpl.coupon_price_limit as couponPriceLimit
	FROM
		coupon_info info
	JOIN coupon_member mem ON info.sid = mem.coupon_sid
	JOIN coupon_template tpl on tpl.sid = info.tpl_sid 
	WHERE
		mem.member_sid = #{openId,jdbcType=VARCHAR}
	AND
		info.store_code = #{storeCode,jdbcType=VARCHAR}
	order by
	sid asc
	limit
	#{start}, #{limit}
  </select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from coupon_info
		where sid = #{sid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from coupon_info
		where sid = #{sid,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		insert into coupon_info (sid, store_code, card_type,
		logo_url, code_type, brand_name,
		title, sub_title, color,
		notice, quantity, type,
		begin_timestamp, end_timestamp, get_limit,
		fixed_term, fixed_begin_term, coupon_status,
		approval_userId, approval_userName, approval_time,
		create_time, create_userId, update_time,
		update_userId, app_system, description, tpl_sid
		)
		values (#{sid,jdbcType=BIGINT}, #{storeCode,jdbcType=VARCHAR},
		#{cardType,jdbcType=VARCHAR},
		#{logoUrl,jdbcType=VARCHAR}, #{codeType,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR},
		#{color,jdbcType=VARCHAR},
		#{notice,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
		#{beginTimestamp,jdbcType=TIMESTAMP},
		#{endTimestamp,jdbcType=TIMESTAMP}, #{getLimit,jdbcType=INTEGER},
		#{fixedTerm,jdbcType=INTEGER}, #{fixedBeginTerm,jdbcType=INTEGER},
		#{couponStatus,jdbcType=VARCHAR},
		#{approvalUserid,jdbcType=VARCHAR}, #{approvalUsername,jdbcType=VARCHAR},
		#{approvalTime,jdbcType=TIMESTAMP},
		#{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
		#{updateUserid,jdbcType=VARCHAR}, #{appSystem,jdbcType=VARCHAR},
		#{description,jdbcType=LONGVARCHAR}, #{tplSid,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		insert into coupon_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="storeCode != null">
				store_code,
			</if>
			<if test="cardType != null">
				card_type,
			</if>
			<if test="logoUrl != null">
				logo_url,
			</if>
			<if test="codeType != null">
				code_type,
			</if>
			<if test="brandName != null">
				brand_name,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="subTitle != null">
				sub_title,
			</if>
			<if test="color != null">
				color,
			</if>
			<if test="notice != null">
				notice,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="beginTimestamp != null">
				begin_timestamp,
			</if>
			<if test="endTimestamp != null">
				end_timestamp,
			</if>
			<if test="getLimit != null">
				get_limit,
			</if>
			<if test="fixedTerm != null">
				fixed_term,
			</if>
			<if test="fixedBeginTerm != null">
				fixed_begin_term,
			</if>
			<if test="couponStatus != null">
				coupon_status,
			</if>
			<if test="approvalUserid != null">
				approval_userId,
			</if>
			<if test="approvalUsername != null">
				approval_userName,
			</if>
			<if test="approvalTime != null">
				approval_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserid != null">
				create_userId,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserid != null">
				update_userId,
			</if>
			<if test="appSystem != null">
				app_system,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="tplSid != null">
				tpl_sid,
			</if>
			<if test="imageName != null">
				image_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=BIGINT},
			</if>
			<if test="storeCode != null">
				#{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				#{cardType,jdbcType=VARCHAR},
			</if>
			<if test="logoUrl != null">
				#{logoUrl,jdbcType=VARCHAR},
			</if>
			<if test="codeType != null">
				#{codeType,jdbcType=VARCHAR},
			</if>
			<if test="brandName != null">
				#{brandName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="subTitle != null">
				#{subTitle,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>
			<if test="notice != null">
				#{notice,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="beginTimestamp != null">
				#{beginTimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="endTimestamp != null">
				#{endTimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="getLimit != null">
				#{getLimit,jdbcType=INTEGER},
			</if>
			<if test="fixedTerm != null">
				#{fixedTerm,jdbcType=INTEGER},
			</if>
			<if test="fixedBeginTerm != null">
				#{fixedBeginTerm,jdbcType=INTEGER},
			</if>
			<if test="couponStatus != null">
				#{couponStatus,jdbcType=VARCHAR},
			</if>
			<if test="approvalUserid != null">
				#{approvalUserid,jdbcType=VARCHAR},
			</if>
			<if test="approvalUsername != null">
				#{approvalUsername,jdbcType=VARCHAR},
			</if>
			<if test="approvalTime != null">
				#{approvalTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserid != null">
				#{createUserid,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserid != null">
				#{updateUserid,jdbcType=VARCHAR},
			</if>
			<if test="appSystem != null">
				#{appSystem,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
			<if test="tplSid != null">
				#{tplSid,jdbcType=INTEGER},
			</if>
			<if test="imageName != null">
				#{imageName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		update coupon_info
		<set>
			<if test="storeCode != null">
				store_code = #{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				card_type = #{cardType,jdbcType=VARCHAR},
			</if>
			<if test="logoUrl != null">
				logo_url = #{logoUrl,jdbcType=VARCHAR},
			</if>
			<if test="codeType != null">
				code_type = #{codeType,jdbcType=VARCHAR},
			</if>
			<if test="brandName != null">
				brand_name = #{brandName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="subTitle != null">
				sub_title = #{subTitle,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				color = #{color,jdbcType=VARCHAR},
			</if>
			<if test="notice != null">
				notice = #{notice,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="beginTimestamp != null">
				begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="endTimestamp != null">
				end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="getLimit != null">
				get_limit = #{getLimit,jdbcType=INTEGER},
			</if>
			<if test="fixedTerm != null">
				fixed_term = #{fixedTerm,jdbcType=INTEGER},
			</if>
			<if test="fixedBeginTerm != null">
				fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER},
			</if>
			<if test="couponStatus != null">
				coupon_status = #{couponStatus,jdbcType=VARCHAR},
			</if>
			<if test="approvalUserid != null">
				approval_userId = #{approvalUserid,jdbcType=VARCHAR},
			</if>
			<if test="approvalUsername != null">
				approval_userName = #{approvalUsername,jdbcType=VARCHAR},
			</if>
			<if test="approvalTime != null">
				approval_time = #{approvalTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserid != null">
				create_userId = #{createUserid,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserid != null">
				update_userId = #{updateUserid,jdbcType=VARCHAR},
			</if>
			<if test="appSystem != null">
				app_system = #{appSystem,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=LONGVARCHAR},
			</if>
			<if test="tplSid != null">
				tpl_sid = #{tplSid,jdbcType=INTEGER},
			</if>
			<if test="imageName != null">
				image_name = #{imageName,jdbcType=VARCHAR},
			</if>
		</set>
		where sid = #{sid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		update coupon_info
		set store_code = #{storeCode,jdbcType=VARCHAR},
		card_type = #{cardType,jdbcType=VARCHAR},
		logo_url = #{logoUrl,jdbcType=VARCHAR},
		code_type = #{codeType,jdbcType=VARCHAR},
		brand_name = #{brandName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		sub_title = #{subTitle,jdbcType=VARCHAR},
		color = #{color,jdbcType=VARCHAR},
		notice = #{notice,jdbcType=VARCHAR},
		quantity = #{quantity,jdbcType=INTEGER},
		type = #{type,jdbcType=VARCHAR},
		begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP},
		end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP},
		get_limit = #{getLimit,jdbcType=INTEGER},
		fixed_term = #{fixedTerm,jdbcType=INTEGER},
		fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER},
		coupon_status = #{couponStatus,jdbcType=VARCHAR},
		approval_userId = #{approvalUserid,jdbcType=VARCHAR},
		approval_userName = #{approvalUsername,jdbcType=VARCHAR},
		approval_time = #{approvalTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_userId = #{createUserid,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		update_userId = #{updateUserid,jdbcType=VARCHAR},
		app_system = #{appSystem,jdbcType=VARCHAR},
		description = #{description,jdbcType=LONGVARCHAR}
		where sid = #{sid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.wechat.entity.CouponInfo">
		update coupon_info
		set store_code = #{storeCode,jdbcType=VARCHAR},
		card_type = #{cardType,jdbcType=VARCHAR},
		logo_url = #{logoUrl,jdbcType=VARCHAR},
		code_type = #{codeType,jdbcType=VARCHAR},
		brand_name = #{brandName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		sub_title = #{subTitle,jdbcType=VARCHAR},
		color = #{color,jdbcType=VARCHAR},
		notice = #{notice,jdbcType=VARCHAR},
		quantity = #{quantity,jdbcType=INTEGER},
		type = #{type,jdbcType=VARCHAR},
		begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP},
		end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP},
		get_limit = #{getLimit,jdbcType=INTEGER},
		fixed_term = #{fixedTerm,jdbcType=INTEGER},
		fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER},
		coupon_status = #{couponStatus,jdbcType=VARCHAR},
		approval_userId = #{approvalUserid,jdbcType=VARCHAR},
		approval_userName = #{approvalUsername,jdbcType=VARCHAR},
		approval_time = #{approvalTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_userId = #{createUserid,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		update_userId = #{updateUserid,jdbcType=VARCHAR},
		app_system = #{appSystem,jdbcType=VARCHAR}
		where sid = #{sid,jdbcType=BIGINT}
	</update>


	<select id="getCountByParam" resultType="java.lang.Integer"
		parameterType="HashMap">
		select
		count(sid)
		from coupon_info
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="cardType != null and cardType !='' ">
				and card_type = #{cardType,jdbcType=VARCHAR}
			</if>
			<if test="logoUrl != null">
				and logo_url = #{logoUrl,jdbcType=VARCHAR}
			</if>
			<if test="codeType != null">
				and code_type = #{codeType,jdbcType=VARCHAR}
			</if>
			<if test="brandName != null">
				and brand_name = #{brandName,jdbcType=VARCHAR}
			</if>
			<if test="title != null and title !='' ">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="subTitle != null">
				and sub_title = #{subTitle,jdbcType=VARCHAR}
			</if>
			<if test="color != null">
				and color = #{color,jdbcType=VARCHAR}
			</if>
			<if test="notice != null">
				and notice = #{notice,jdbcType=VARCHAR}
			</if>
			<if test="quantity != null">
				and quantity = #{quantity,jdbcType=INTEGER}
			</if>
			<if test="type != null">
				and type = #{type,jdbcType=VARCHAR}
			</if>
			<if test="beginTimestamp != null">
				and begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="endTimestamp != null">
				and end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="getLimit != null">
				and get_limit = #{getLimit,jdbcType=INTEGER}
			</if>
			<if test="fixedTerm != null">
				and fixed_term = #{fixedTerm,jdbcType=INTEGER}
			</if>
			<if test="fixedBeginTerm != null">
				and fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER}
			</if>
			<if test="couponStatus != null">
				and coupon_status = #{couponStatus,jdbcType=VARCHAR}
			</if>
			<if test="approvalUserId != null">
				and approval_userId = #{approvalUserId,jdbcType=VARCHAR}
			</if>
			<if test="approvalUsername != null">
				and approval_userName = #{approvalUsername,jdbcType=VARCHAR}
			</if>
			<if test="approvalTime != null">
				and approval_time = #{approvalTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUserId != null">
				and create_userId = #{createUserId,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserid != null">
				and update_userId = #{updateUserid,jdbcType=VARCHAR}
			</if>
			<if test="appSystem != null">
				and app_system = #{appSystem,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=LONGVARCHAR}
			</if>
			<if test="tplSid != null">
				and tpl_sid = #{tplSid,jdbcType=INTEGER}
			</if>
			<if test="imageName != null">
				and image_name = #{imageName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectListByParam" resultMap="BaseResultMap"
		parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from coupon_info
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="cardType != null">
				and card_type = #{cardType,jdbcType=VARCHAR}
			</if>
			<if test="logoUrl != null">
				and logo_url = #{logoUrl,jdbcType=VARCHAR}
			</if>
			<if test="codeType != null">
				and code_type = #{codeType,jdbcType=VARCHAR}
			</if>
			<if test="brandName != null">
				and brand_name = #{brandName,jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="subTitle != null">
				and sub_title = #{subTitle,jdbcType=VARCHAR}
			</if>
			<if test="color != null">
				and color = #{color,jdbcType=VARCHAR}
			</if>
			<if test="notice != null">
				and notice = #{notice,jdbcType=VARCHAR}
			</if>
			<if test="quantity != null">
				and quantity = #{quantity,jdbcType=INTEGER}
			</if>
			<if test="type != null">
				and type = #{type,jdbcType=VARCHAR}
			</if>
			<if test="beginTimestamp != null">
				and begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="endTimestamp != null">
				and end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="getLimit != null">
				and get_limit = #{getLimit,jdbcType=INTEGER}
			</if>
			<if test="fixedTerm != null">
				and fixed_term = #{fixedTerm,jdbcType=INTEGER}
			</if>
			<if test="fixedBeginTerm != null">
				and fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER}
			</if>
			<if test="couponStatus != null">
				and coupon_status = #{couponStatus,jdbcType=VARCHAR}
			</if>
			<if test="approvalUserid != null">
				and approval_userId = #{approvalUserid,jdbcType=VARCHAR}
			</if>
			<if test="approvalUsername != null">
				and approval_userName = #{approvalUsername,jdbcType=VARCHAR}
			</if>
			<if test="approvalTime != null">
				and approval_time = #{approvalTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUserid != null">
				and create_userId = #{createUserid,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserid != null">
				and update_userId = #{updateUserid,jdbcType=VARCHAR}
			</if>
			<if test="appSystem != null">
				and app_system = #{appSystem,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=LONGVARCHAR}
			</if>
			<if test="tplSid != null">
				and tpl_sid = #{tplSid,jdbcType=INTEGER}
			</if>
			<if test="imageName != null">
				and image_name = #{imageName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectPageListByParam" resultMap="BaseResultMap"
		parameterType="HashMap">
		select
		<include refid="Base_Column_List" />
		from coupon_info
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="cardType != null and cardType !='' ">
				and card_type = #{cardType,jdbcType=VARCHAR}
			</if>
			<if test="logoUrl != null">
				and logo_url = #{logoUrl,jdbcType=VARCHAR}
			</if>
			<if test="codeType != null">
				and code_type = #{codeType,jdbcType=VARCHAR}
			</if>
			<if test="brandName != null">
				and brand_name = #{brandName,jdbcType=VARCHAR}
			</if>
			<if test="title != null and title!='' ">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="subTitle != null">
				and sub_title = #{subTitle,jdbcType=VARCHAR}
			</if>
			<if test="color != null">
				and color = #{color,jdbcType=VARCHAR}
			</if>
			<if test="notice != null">
				and notice = #{notice,jdbcType=VARCHAR}
			</if>
			<if test="quantity != null">
				and quantity = #{quantity,jdbcType=INTEGER}
			</if>
			<if test="type != null">
				and type = #{type,jdbcType=VARCHAR}
			</if>
			<if test="beginTimestamp != null">
				and begin_timestamp = #{beginTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="endTimestamp != null">
				and end_timestamp = #{endTimestamp,jdbcType=TIMESTAMP}
			</if>
			<if test="getLimit != null">
				and get_limit = #{getLimit,jdbcType=INTEGER}
			</if>
			<if test="fixedTerm != null">
				and fixed_term = #{fixedTerm,jdbcType=INTEGER}
			</if>
			<if test="fixedBeginTerm != null">
				and fixed_begin_term = #{fixedBeginTerm,jdbcType=INTEGER}
			</if>
			<if test="couponStatus != null">
				and coupon_status = #{couponStatus,jdbcType=VARCHAR}
			</if>
			<if test="approvalUserId != null">
				and approval_userId = #{approvalUserId,jdbcType=VARCHAR}
			</if>
			<if test="approvalUsername != null">
				and approval_userName = #{approvalUsername,jdbcType=VARCHAR}
			</if>
			<if test="approvalTime != null">
				and approval_time = #{approvalTime,jdbcType=TIMESTAMP}
			</if><if test="imageName != null">
				and image_name = #{imageName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="createUserId != null">
				and create_userId = #{createUserId,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="updateUserid != null">
				and update_userId = #{updateUserid,jdbcType=VARCHAR}
			</if>
			<if test="appSystem != null">
				and app_system = #{appSystem,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=LONGVARCHAR}
			</if>
			<if test="tplSid != null">
				and tpl_sid = #{tplSid,jdbcType=INTEGER}
			</if>
			<if test="imageName != null">
				and image_name = #{imageName,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		sid asc
		limit
		#{start}, #{limit}
	</select>
</mapper>