<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.MemberCardMapper">
    <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.MemberCard">
        <id column="sid" property="sid" jdbcType="BIGINT"/>
        <result column="store_code" property="storeCode" jdbcType="VARCHAR"/>
        <result column="card_code" property="cardCode" jdbcType="VARCHAR"/>
        <result column="member_code" property="memberCode" jdbcType="VARCHAR"/>
        <result column="card_type" property="cardType" jdbcType="INTEGER"/>
        <result column="card_level" property="cardLevel" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    sid, store_code, card_code, member_code, card_type, card_level, status, del_flag, 
    update_time, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from member_card
        where sid = #{sid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_card
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wechat.manage.pojo.wechat.entity.MemberCard">
    insert into member_card (sid, store_code, card_code, 
      member_code, card_type, card_level, 
      status, del_flag, update_time, 
      create_time)
    values (#{sid,jdbcType=BIGINT}, #{storeCode,jdbcType=VARCHAR}, #{cardCode,jdbcType=VARCHAR}, 
      #{memberCode,jdbcType=VARCHAR}, #{cardType,jdbcType=INTEGER}, #{cardLevel,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberCard">
        insert into member_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="cardCode != null">
                card_code,
            </if>
            <if test="memberCode != null">
                member_code,
            </if>
            <if test="cardType != null">
                card_type,
            </if>
            <if test="cardLevel != null">
                card_level,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=BIGINT},
            </if>
            <if test="storeCode != null">
                #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="cardCode != null">
                #{cardCode,jdbcType=VARCHAR},
            </if>
            <if test="memberCode != null">
                #{memberCode,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null">
                #{cardType,jdbcType=INTEGER},
            </if>
            <if test="cardLevel != null">
                #{cardLevel,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberCard">
        update member_card
        <set>
            <if test="storeCode != null">
                store_code = #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="cardCode != null">
                card_code = #{cardCode,jdbcType=VARCHAR},
            </if>
            <if test="memberCode != null">
                member_code = #{memberCode,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null">
                card_type = #{cardType,jdbcType=INTEGER},
            </if>
            <if test="cardLevel != null">
                card_level = #{cardLevel,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sid = #{sid,jdbcType=BIGINT}
    </update>

    <update id="updateByParaSelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberCard">
        update member_card
        <set>
            <if test="cardType != null">
                card_type = #{cardType,jdbcType=INTEGER},
            </if>
            <if test="cardLevel != null">
                card_level = #{cardLevel,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where store_code = #{storeCode,jdbcType=VARCHAR} AND member_code = #{memberCode,jdbcType=VARCHAR}
        <if test="cardCode != null">
            AND card_code = #{cardCode,jdbcType=VARCHAR}
        </if>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.wechat.entity.MemberCard">
    update member_card
    set store_code = #{storeCode,jdbcType=VARCHAR},
      card_code = #{cardCode,jdbcType=VARCHAR},
      member_code = #{memberCode,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=INTEGER},
      card_level = #{cardLevel,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=BIGINT}
  </update>

    <select id="selectListByParam" resultMap="BaseResultMap"
            parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from member_card
        <where>
            <if test="sid != null">
                and sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="storeCode != null">
                and store_code = #{storeCode,jdbcType=VARCHAR}
            </if>
            <if test="cardCode != null">
                and card_code = #{cardCode,jdbcType=VARCHAR}
            </if>
            <if test="memberCode != null">
                and member_code = #{memberCode,jdbcType=VARCHAR}
            </if>
            <if test="cardType != null">
                and card_type = #{cardType,jdbcType=INTEGER}
            </if>
            <if test="cardLevel != null">
                and card_level = #{cardLevel,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="status == null">
                and status = 0
            </if>
            <if test="status == null">
                and del_flag =0
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="selectMaxCardCodeByParam" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        MAX(card_code) AS maxCardCode
        FROM
        member_card
        <where>
            <if test="storeCode != null">
                and store_code = #{storeCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>