<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.MemberInfoMapper">
    <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.MemberInfo">
        <id column="sid" property="sid" jdbcType="BIGINT"/>
        <result column="member_code" property="memberCode" jdbcType="VARCHAR"/>
        <result column="store_code" property="storeCode" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="subscribe" property="subscribe" jdbcType="INTEGER"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR"/>
        <result column="subscribe_time" property="subscribeTime" jdbcType="VARCHAR"/>
        <result column="unionid" property="unionid" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="groupid" property="groupid" jdbcType="INTEGER"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code_id" property="codeId" jdbcType="VARCHAR" />
        <result column="start_no" property="startNo" jdbcType="VARCHAR" />
        <result column="brithday" property="brithday" jdbcType="VARCHAR" />
        <result column="modify_remarks" property="modifyRemarks" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
    sid, member_code, store_code, password, subscribe, openid, nickname, sex, city, country, province,
    language, headimgurl, subscribe_time, unionid, remark, groupid, id_card, email, mobile, 
    update_time, create_time, code_id, start_no,brithday,modify_remarks
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from memberinfo
        where sid = #{sid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from memberinfo
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wechat.manage.pojo.wechat.entity.MemberInfo">
    insert into memberinfo (sid, member_code, store_code, password,
      subscribe, openid, nickname, 
      sex, city, country, 
      province, language, headimgurl, 
      subscribe_time, unionid, remark, 
      groupid, id_card, email, 
      mobile, update_time, create_time
      )
    values (#{sid,jdbcType=BIGINT}, #{memberCode,jdbcType=VARCHAR}, #{storeCode,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR},
      #{subscribe,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
      #{subscribeTime,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{groupid,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberInfo">
        insert into memberinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="memberCode != null">
                member_code,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="subscribe != null">
                subscribe,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="subscribeTime != null">
                subscribe_time,
            </if>
            <if test="unionid != null">
                unionid,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="groupid != null">
                groupid,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="codeId != null">
            	code_id,
            </if>
            <if test="startNo != null">
            	start_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=BIGINT},
            </if>
            <if test="memberCode != null">
                #{memberCode,jdbcType=VARCHAR},
            </if>
            <if test="storeCode != null">
                #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="subscribe != null">
                #{subscribe,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                #{subscribeTime,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                #{unionid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="codeId != null">
            	#{codeId,jdbcType=VARCHAR},
            </if>
            <if test="startNo != null">
            	#{startNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberInfo">
        update memberinfo
        <set>
            <if test="memberCode != null">
                member_code = #{memberCode,jdbcType=VARCHAR},
            </if>
            <if test="storeCode != null">
                store_code = #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="subscribe != null">
                subscribe = #{subscribe,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                unionid = #{unionid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                groupid = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="codeId != null">
                code_id = #{codeId,jdbcType=VARCHAR},
            </if>
            <if test="startNo != null">
            	start_no = #{startNo,jdbcType=VARCHAR},
            </if>
            <if test="brithday != null">
            	brithday = #{brithday,jdbcType=VARCHAR},
            </if>
            <if test="modifyRemarks != null">
            	modify_remarks = #{modifyRemarks,jdbcType=VARCHAR},
            </if>
        </set>
        where sid = #{sid,jdbcType=BIGINT}
    </update>

    <update id="updateByParaSelective" parameterType="com.wechat.manage.pojo.wechat.entity.MemberInfo">
        update memberinfo
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="subscribe != null">
                subscribe = #{subscribe,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                unionid = #{unionid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                groupid = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="codeId != null">
                code_id = #{codeId,jdbcType=VARCHAR},
            </if>
            <if test="startNo != null">
            	start_no = #{startNo,jdbcType=VARCHAR},
            </if>
        </set>
        where store_code = #{storeCode,jdbcType=VARCHAR} AND openid = #{openid,jdbcType=VARCHAR}
        <if test="memberCode != null">
            AND member_code = #{memberCode,jdbcType=VARCHAR}
        </if>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.wechat.entity.MemberInfo">
    update memberinfo
    set member_code = #{memberCode,jdbcType=VARCHAR},
      store_code = #{storeCode,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      id_card = #{idCard,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=BIGINT}
  </update>
  	<select id="getCountByParam" resultType="java.lang.Integer"
            parameterType="java.util.Map">
		select 
			count(sid)
		from memberinfo
		<where>
            <if test="sid != null">
                and sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="memberCode != null">
                and member_code = #{memberCode,jdbcType=VARCHAR}
            </if>
            <if test="storeCode != null">
                and store_code = #{storeCode,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="subscribe != null">
                and subscribe = #{subscribe,jdbcType=INTEGER}
            </if>
            <if test="openid != null">
                and openid = #{openid,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null">
                and nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=INTEGER}
            </if>
            <if test="city != null">
                and city = #{city,jdbcType=VARCHAR}
            </if>
            <if test="country != null">
                and country = #{country,jdbcType=VARCHAR}
            </if>
            <if test="province != null">
                and province = #{province,jdbcType=VARCHAR}
            </if>
            <if test="language != null">
                and language = #{language,jdbcType=VARCHAR}
            </if>
            <if test="headimgurl != null">
                and headimgurl = #{headimgurl,jdbcType=VARCHAR}
            </if>
            <if test="subscribeTime != null">
                and subscribe_time = #{subscribeTime,jdbcType=VARCHAR}
            </if>
            <if test="unionid != null">
                and unionid = #{unionid,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="groupid != null">
                and groupid = #{groupid,jdbcType=INTEGER}
            </if>
            <if test="idCard != null">
                and id_card = #{idCard,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="codeId != null">
            	and code_id = #{codeId,jdbcType=VARCHAR}
            </if>
           	<if test="startNo != null">
            	and start_no = #{startNo,jdbcType=VARCHAR}
            </if>
        </where>
	</select>

    <select id="selectListByParam" resultMap="BaseResultMap"
            parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from memberinfo
        <where>
            <if test="sid != null">
                and sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="memberCode != null">
                and member_code = #{memberCode,jdbcType=VARCHAR}
            </if>
            <if test="storeCode != null">
                and store_code = #{storeCode,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="subscribe != null">
                and subscribe = #{subscribe,jdbcType=INTEGER}
            </if>
            <if test="openid != null">
                and openid = #{openid,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null">
                and nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=INTEGER}
            </if>
            <if test="city != null">
                and city = #{city,jdbcType=VARCHAR}
            </if>
            <if test="country != null">
                and country = #{country,jdbcType=VARCHAR}
            </if>
            <if test="province != null">
                and province = #{province,jdbcType=VARCHAR}
            </if>
            <if test="language != null">
                and language = #{language,jdbcType=VARCHAR}
            </if>
            <if test="headimgurl != null">
                and headimgurl = #{headimgurl,jdbcType=VARCHAR}
            </if>
            <if test="subscribeTime != null">
                and subscribe_time = #{subscribeTime,jdbcType=VARCHAR}
            </if>
            <if test="unionid != null">
                and unionid = #{unionid,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="groupid != null">
                and groupid = #{groupid,jdbcType=INTEGER}
            </if>
            <if test="idCard != null">
                and id_card = #{idCard,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="codeId != null">
            	and code_id = #{codeId,jdbcType=VARCHAR}
            </if>
           	<if test="startNo != null">
            	and start_no = #{startNo,jdbcType=VARCHAR}
            </if>
            <if test="param1 != null">
            	and nickname  like  '%${param1}%'
            </if>
             
        </where>
    </select>
    <select id="selectMaxMemberCodeByParam" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        MAX(member_code) AS maxMemberCode
        FROM
        memberinfo
        <where>
            <if test="storeCode != null">
                and store_code = #{storeCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectMemberAndCardInfoListByParam" parameterType="java.util.Map"
            resultType="com.wechat.manage.pojo.wechat.vo.MemberInfoReturnDto">
        SELECT
        mc.sid AS sid,
        mi.store_code AS storeCode,
        mi.member_code AS memberCode,
        mi.openid AS openid,
        mi.password AS password,
        mi.mobile AS mobile,
        mc.card_code AS cardCode,
        mc.card_type AS cardType,
        mc.card_level AS cardLevel,
        mc.status AS status,
        mc.del_flag AS delFlag,
        mi.code_id as cardId
        FROM
        memberinfo mi
        INNER JOIN member_card mc ON mi.store_code = mc.store_code
        AND mi.member_code = mc.member_code
        <where>
            <if test="status != null">
                AND mc.status = #{status}
            </if>
            <if test="status == null">
                AND mc.status = 0
            </if>
            <if test="delFlag != null">
                AND mc.del_flag = #{delFlag}
            </if>
            <if test="status == null">
                AND mc.del_flag = 0
            </if>
            <if test="cardType != null">
                AND mc.card_type = #{cardType}
            </if>
            <if test="storeCode != null">
                AND mi.store_code = #{storeCode}
            </if>
            <if test="openid != null">
                AND mi.openid = #{openid}
            </if>
            <if test="memberCode != null">
                AND mi.member_code = #{memberCode}
            </if>
            <if test="mobile != null">
                AND mi.mobile = #{mobile}
            </if>
        </where>
    </select>

    <select id="findMemberAndStoreInfoByPara" parameterType="java.util.Map"
            resultType="com.wechat.manage.pojo.wechat.vo.MemberInfoReturnDto">
        SELECT
        mi.store_code AS storeCode,
        mi.member_code AS memberCode,
        mi.openid AS openid,
        mi.unionid AS unionid,
        mi.groupid AS groupid,
        mi.nickname AS nickname,
        mi.headimgurl AS headimgurl,
        mi.sex AS sex,
        mi.city AS city,
        mi.country AS country,
        mi.province AS province,
        mi.remark AS remark,
        mi.password AS password,
        mi.mobile AS mobile,
        mi.id_card AS idCard,
        mi.email AS email,
        si.business_name AS businessName,
        si.branch_name AS branchName
        FROM
        memberinfo mi
        INNER JOIN storeinfo si ON mi.store_code = si.store_code
        <where>
            <if test="storeCode != null">
                AND mi.store_code = #{storeCode}
            </if>
            <if test="openid != null">
                AND mi.openid = #{openid}
            </if>
            <if test="memberCode != null">
                AND mi.member_code = #{memberCode}
            </if>
            <if test="mobile != null">
                AND mi.mobile = #{mobile}
            </if>
        </where>
    </select>

    <select id="selectCurMemberInfo" parameterType="java.util.Map"
            resultType="com.wechat.manage.pojo.wechat.vo.MemberInfoReturnDto">
        SELECT
        mi.store_code AS storeCode,
        mi.member_code AS memberCode,
        mi.openid AS openid,
        mi.unionid AS unionid,
        mi.groupid AS groupid,
        mi.nickname AS nickname,
        mi.headimgurl AS headimgurl,
        mi.sex AS sex,
        mi.city AS city,
        mi.country AS country,
        mi.province AS province,
        mi.remark AS remark,
        mi.password AS password,
        mi.mobile AS mobile,
        mi.id_card AS idCard,
        mi.email AS email,
        mc.card_code AS cardCode,
        mc.card_type AS cardType,
        mc.card_level AS cardLevel,
        mc.status AS status,
        mc.del_flag AS delFlag,
        mi.code_id as cardId
        FROM
        memberinfo mi
            LEFT JOIN member_card mc ON mi.store_code = mc.store_code
        AND mi.member_code = mc.member_code
        <where>
            <if test="status != null">
                AND mc.status = #{status}
            </if>
            <if test="delFlag != null">
                AND mc.del_flag = #{delFlag}
            </if>
            <!--<if test="status == null">
                AND mc.del_flag = 0
            </if>-->
            <if test="cardType != null">
                AND mc.card_type = #{cardType}
            </if>
            <if test="storeCode != null">
                AND mi.store_code = #{storeCode}
            </if>
            <if test="openid != null">
                AND mi.openid = #{openid}
            </if>
            <if test="memberCode != null">
                AND mi.member_code = #{memberCode}
            </if>
            <if test="mobile != null">
                AND mi.mobile = #{mobile}
            </if>
        </where>
    </select>
    
    <select id="getMemberListBy" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from memberinfo
		<where>
			<if test="groups == 0">
				and member_code IS NOT NULL
			</if>
			<if test="groups == 1">
				and member_code IS NULL
			</if>
			<if test="storeCode != null">
                AND store_code = #{storeCode}
            </if>
		</where>
		<if test="start != null">
			LIMIT #{start},#{limit}
		</if>
    </select>
	<select id="getMsgMember" resultMap="BaseResultMap" parameterType="java.util.Map">
    	SELECT
			mem.*
		FROM
			memberinfo mem
		JOIN msg_member mm ON mm.member_sid = mem.sid
		WHERE
			mm.msg_sid = #{massSid,jdbcType=BIGINT}
			and mem.store_code = #{storeCode,jdbcType=VARCHAR}
		<if test="start != null">
			LIMIT #{start},#{limit}
		</if>
    </select>
    <select id="getMsgMemberCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT
			count(mm.sid)
		FROM
			memberinfo mem
		JOIN msg_member mm ON mm.member_sid = mem.sid
		WHERE
			mm.msg_sid = #{massSid,jdbcType=BIGINT}
			and mem.store_code = #{storeCode,jdbcType=VARCHAR}
    </select>
</mapper>