<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.MsgReplyMapper">
	<resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.MsgReply">
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<result column="event_type" property="eventType" jdbcType="VARCHAR" />
		<result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
		<result column="msg_key" property="msgKey" jdbcType="VARCHAR" />
		<result column="msg_type" property="msgType" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="media_id" property="mediaId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="music_url" property="musicUrl" jdbcType="VARCHAR" />
		<result column="hqmusic_url" property="hqmusicUrl" jdbcType="VARCHAR" />
		<result column="thumb_mediald" property="thumbMediald"
			jdbcType="VARCHAR" />
		<result column="article_count" property="articleCount"
			jdbcType="VARCHAR" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="pic_local_url" property="picLocalUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		sid, event_type, rule_name, msg_key, msg_type, content, media_id, title, description, music_url,
		hqmusic_url,
		thumb_mediald, article_count, pic_url, url,store_code,pic_local_url
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from msg_reply
		where sid = #{sid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from msg_reply
		where sid = #{sid,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.wechat.manage.pojo.wechat.entity.MsgReply">
		insert into msg_reply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="eventType != null">
				event_type,
			</if>
			<if test="ruleName != null">
				rule_name,
			</if>
			<if test="msgKey != null">
				msg_key,
			</if>
			<if test="msgType != null">
				msg_type,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="mediaId != null">
				media_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="musicUrl != null">
				music_url,
			</if>
			<if test="hqmusicUrl != null">
				hqmusic_url,
			</if>
			<if test="thumbMediald != null">
				thumb_mediald,
			</if>
			<if test="articleCount != null">
				article_count,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="storeCode != null">
				store_code,
			</if>
			<if test="picLocalUrl != null">
				pic_local_url
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=INTEGER},
			</if>
			<if test="eventType != null">
				#{eventType,jdbcType=VARCHAR},
			</if>
			<if test="ruleName != null">
				#{ruleName,jdbcType=VARCHAR},
			</if>
			<if test="msgKey != null">
				#{msgKey,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				#{msgType,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="mediaId != null">
				#{mediaId,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="musicUrl != null">
				#{musicUrl,jdbcType=VARCHAR},
			</if>
			<if test="hqmusicUrl != null">
				#{hqmusicUrl,jdbcType=VARCHAR},
			</if>
			<if test="thumbMediald != null">
				#{thumbMediald,jdbcType=VARCHAR},
			</if>
			<if test="articleCount != null">
				#{articleCount,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="storeCode != null">
				#{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="picLocalUrl != null">
				#{picLocalUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.MsgReply">
		update msg_reply
		<set>
			<if test="eventType != null">
				event_type = #{eventType,jdbcType=VARCHAR},
			</if>
			<if test="ruleName != null">
				rule_name = #{ruleName,jdbcType=VARCHAR},
			</if>
			<if test="msgKey != null">
				msg_key = #{msgKey,jdbcType=VARCHAR},
			</if>
			<if test="msgType != null">
				msg_type = #{msgType,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="mediaId != null">
				media_id = #{mediaId,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="musicUrl != null">
				music_url = #{musicUrl,jdbcType=VARCHAR},
			</if>
			<if test="hqmusicUrl != null">
				hqmusic_url = #{hqmusicUrl,jdbcType=VARCHAR},
			</if>
			<if test="thumbMediald != null">
				thumb_mediald = #{thumbMediald,jdbcType=VARCHAR},
			</if>
			<if test="articleCount != null">
				article_count = #{articleCount,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="storeCode != null">
				store_code = #{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="picLocalUrl != null">
				pic_local_url = #{picLocalUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where sid = #{sid,jdbcType=INTEGER}
	</update>


	<select id="selectListByParam" resultMap="BaseResultMap"
		parameterType="com.wechat.manage.pojo.wechat.entity.MsgReply">
		select
		<include refid="Base_Column_List" />
		from msg_reply
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="eventType != null">
				and event_type = #{eventType,jdbcType=VARCHAR}
			</if>
			<if test="ruleName != null">
				and rule_name = #{ruleName,jdbcType=VARCHAR}
			</if>
			<if test="msgKey != null">
				and msg_key = #{msgKey,jdbcType=VARCHAR}
			</if>
			<if test="msgType != null">
				and msg_type = #{msgType,jdbcType=INTEGER}
			</if>
			<if test="content != null">
				and content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="mediaId != null">
				and media_id = #{mediaId,jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="musicUrl != null">
				and music_url = #{musicUrl,jdbcType=VARCHAR}
			</if>
			<if test="hqmusicUrl != null">
				and hqmusic_url = #{hqmusicUrl,jdbcType=VARCHAR}
			</if>
			<if test="thumbMediald != null">
				and thumb_mediald = #{thumbMediald,jdbcType=VARCHAR}
			</if>
			<if test="articleCount != null">
				and article_count = #{articleCount,jdbcType=VARCHAR}
			</if>
			<if test="picUrl != null">
				and pic_url = #{picUrl,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="picLocalUrl != null">
				and pic_local_url = #{picLocalUrl,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectPageListByParam" resultMap="BaseResultMap"
		parameterType="com.wechat.manage.pojo.wechat.entity.MsgReply">
		select
		<include refid="Base_Column_List" />
		from msg_reply
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="eventType != null">
				and event_type = #{eventType,jdbcType=VARCHAR}
			</if>
			<if test="ruleName != null">
				and rule_name = #{ruleName,jdbcType=VARCHAR}
			</if>
			<if test="msgKey != null">
				and msg_key = #{msgKey,jdbcType=VARCHAR}
			</if>
			<if test="msgType != null">
				and msg_type = #{msgType,jdbcType=INTEGER}
			</if>
			<if test="content != null">
				and content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="mediaId != null">
				and media_id = #{mediaId,jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="musicUrl != null">
				and music_url = #{musicUrl,jdbcType=VARCHAR}
			</if>
			<if test="hqmusicUrl != null">
				and hqmusic_url = #{hqmusicUrl,jdbcType=VARCHAR}
			</if>
			<if test="thumbMediald != null">
				and thumb_mediald = #{thumbMediald,jdbcType=VARCHAR}
			</if>
			<if test="articleCount != null">
				and article_count = #{articleCount,jdbcType=VARCHAR}
			</if>
			<if test="picUrl != null">
				and pic_url = #{picUrl,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="picLocalUrl != null">
				and pic_local_url = #{picLocalUrl,jdbcType=VARCHAR}
			</if>
		</where>
		order by
		sid asc
		limit
		#{start}, #{limit}
	</select>
	<select id="getCountByParam" resultType="java.lang.Integer"
		parameterType="com.wechat.manage.pojo.wechat.entity.MsgReply">
		select
		count(sid)
		from msg_reply
		<where>
			<if test="sid != null">
				and sid = #{sid,jdbcType=INTEGER}
			</if>
			<if test="eventType != null">
				and event_type = #{eventType,jdbcType=VARCHAR}
			</if>
			<if test="ruleName != null">
				and rule_name = #{ruleName,jdbcType=VARCHAR}
			</if>
			<if test="msgKey != null">
				and msg_key = #{msgKey,jdbcType=VARCHAR}
			</if>
			<if test="msgType != null">
				and msg_type = #{msgType,jdbcType=INTEGER}
			</if>
			<if test="content != null">
				and content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="mediaId != null">
				and media_id = #{mediaId,jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				and title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=VARCHAR}
			</if>
			<if test="musicUrl != null">
				and music_url = #{musicUrl,jdbcType=VARCHAR}
			</if>
			<if test="hqmusicUrl != null">
				and hqmusic_url = #{hqmusicUrl,jdbcType=VARCHAR}
			</if>
			<if test="thumbMediald != null">
				and thumb_mediald = #{thumbMediald,jdbcType=VARCHAR}
			</if>
			<if test="articleCount != null">
				and article_count = #{articleCount,jdbcType=VARCHAR}
			</if>
			<if test="picUrl != null">
				and pic_url = #{picUrl,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="storeCode != null">
				and store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="picLocalUrl != null">
				and pic_local_url = #{picLocalUrl,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>