<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.WechatMenuMapper">
    <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.wechat.entity.WechatMenu">
        <id column="sid" property="sid" jdbcType="BIGINT"/>
        <result column="appid" property="appid" jdbcType="VARCHAR"/>
        <result column="parent_sid" property="parentSid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="clickkey" property="clickkey" jdbcType="VARCHAR"/>
        <result column="viewUrl" property="viewurl" jdbcType="VARCHAR"/>
        <result column="order_by" property="orderBy" jdbcType="INTEGER"/>
        <result column="ifdel" property="ifdel" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    sid, appid, parent_sid, name, type, clickkey, viewUrl, order_by, ifdel, create_time, 
    update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from wechat_menu
        where sid = #{sid,jdbcType=BIGINT}
    </select>
    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.wechat.manage.pojo.wechat.entity.WechatMenu">
        select
        <include refid="Base_Column_List"/>
        from wechat_menu
        <where>
            <if test="sid != null">
                sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="appid != null">
                AND appid= #{appid,jdbcType=VARCHAR}
            </if>
            <if test="parentSid != null">
                AND parent_sid= #{parentSid,jdbcType=VARCHAR}
            </if>
            <if test="ifdel != null">
                AND ifdel= #{ifdel,jdbcType=INTEGER}
            </if>
            <if test="ifdel = null">
                AND ifdel=0
            </if>
        </where>
        ORDER BY order_by ASC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wechat_menu
    where sid = #{sid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wechat.manage.pojo.wechat.entity.WechatMenu">
    insert into wechat_menu (sid, appid, parent_sid, 
      name, type, clickkey, 
      viewUrl, order_by, ifdel, 
      create_time, update_time)
    values (#{sid,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{parentSid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{clickkey,jdbcType=VARCHAR}, 
      #{viewurl,jdbcType=VARCHAR}, #{orderBy,jdbcType=INTEGER}, #{ifdel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="sid" parameterType="com.wechat.manage.pojo.wechat.entity.WechatMenu">
        insert into wechat_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="appid != null">
                appid,
            </if>
            <if test="parentSid != null">
                parent_sid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="clickkey != null">
                clickkey,
            </if>
            <if test="viewurl != null">
                viewUrl,
            </if>
            <if test="orderBy != null">
                order_by,
            </if>
            <if test="ifdel != null">
                ifdel,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=BIGINT},
            </if>
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="parentSid != null">
                #{parentSid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="clickkey != null">
                #{clickkey,jdbcType=VARCHAR},
            </if>
            <if test="viewurl != null">
                #{viewurl,jdbcType=VARCHAR},
            </if>
            <if test="orderBy != null">
                #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="ifdel != null">
                #{ifdel,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.wechat.entity.WechatMenu">
        update wechat_menu
        <set>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="parentSid != null">
                parent_sid = #{parentSid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="clickkey != null">
                clickkey = #{clickkey,jdbcType=VARCHAR},
            </if>
            <if test="viewurl != null">
                viewUrl = #{viewurl,jdbcType=VARCHAR},
            </if>
            <if test="orderBy != null">
                order_by = #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="ifdel != null">
                ifdel = #{ifdel,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sid = #{sid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.wechat.entity.WechatMenu">
    update wechat_menu
    set appid = #{appid,jdbcType=VARCHAR},
      parent_sid = #{parentSid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      clickkey = #{clickkey,jdbcType=VARCHAR},
      viewUrl = #{viewurl,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=INTEGER},
      ifdel = #{ifdel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=BIGINT}
  </update>
</mapper>