<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.wechat.WxVIPCardMapper">
	<resultMap type="com.wechat.manage.pojo.wechat.entity.WxVIPCard" id="wxVIPCard">
		<id property="sid" column="sid"/>
		<result property="headName" column="head_name"/>
		<result property="headPictureUrl" column="head_picture_url"/>
		<result property="wxHeadPictureUrl" column="wx_head_picture_url"/>
		<result property="brandCodeStatus" column="brand_code_status"/>
		<result property="onlineCodeStatus" column="Online_code_status"/>
		<result property="CreateTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="storeCode" column="store_code"/>
	</resultMap>
	
	<insert id="insertWxVIPCard" parameterType="com.wechat.manage.pojo.wechat.entity.WxVIPCard">
		insert into wx_vip_card
		(head_name, head_picture_url, wx_head_picture_url, brand_code_status, Online_code_status,
		create_time, update_time, store_code)
		values
		(#{headName,jdbcType=VARCHAR}, #{headPictureUrl,jdbcType=VARCHAR},
		#{wxHeadPictureUrl,jdbcType=VARCHAR}, #{brandCodeStatus,jdbcType=VARCHAR},
		#{onlineCodeStatus,jdbcType=VARCHAR}, #{CreateTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{storeCode,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectWxVipCardByStoreCode" resultMap="wxVIPCard">
		select * from wx_vip_card
		<where>
			store_code = #{storeCode,jdbcType=VARCHAR}
		</where>
	</select>
	
	<update id="updateWxCipCard" parameterType="com.wechat.manage.pojo.wechat.entity.WxVIPCard">
		update wx_vip_card
		<set>
			<if test="headName != null">
				head_name = #{headName,jdbcType=VARCHAR},
			</if>
			<if test="headName != null">
				head_picture_url = #{headPictureUrl,jdbcType=VARCHAR},
			</if>
			<if test="headName != null">
				wx_head_picture_url = #{wxHeadPictureUrl,jdbcType=VARCHAR},
			</if>
			<if test="headName != null">
				brand_code_status = #{brandCodeStatus,jdbcType=VARCHAR},
			</if>
			<if test="headName != null">
				Online_code_status = #{onlineCodeStatus,jdbcType=VARCHAR},
			</if>
			<if test="headName != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<where>
			store_code = #{storeCode,jdbcType=VARCHAR}
		</where>
	</update>
</mapper>