<div class="app-preview">   
 <div class="app-header"></div>  
   <div class="app-entry">      
     <div class="app-config js-config-region"></div>       
      <div class="app-fields js-fields-region">
      <div class="app-fields ui-sortable"></div>
      </div>   
   </div> 
          <div class="js-add-region"></div>
</div>
<div class="app-sidebar">  
<div class="arrow"></div>  
<div class="app-sidebar-inner js-sidebar-region"> 
</div>
</div>
<div class="app-actions">  
	<div class="form-actions text-center">   
    	<a class="btn btn-primary btn-add"  onclick="upload()">上 架</a> 
    	<a class="btn btn-save"  onclick="uploadDraft()" >保存成草稿 </a> 
    	<a class="btn btn-preview"  onclick="preview()" >预览效果  </a> 
    </div>
</div>