<form class="form-horizontal" novalidate="">
    <div class="js-collection-region"><ul class="choices ui-sortable"><li class="choice"><div class="choice-image">

        <a class="add-image js-trigger-image" href="javascript: void(0);"><i class="icon-add"></i>  添加图片</a>


        <!-- for error msg -->
        <div class="control-group">
            <div class="controls">
                <input name="image_url" type="hidden">
            </div>
        </div>
    </div>
        <div class="choice-content">
            <div class="control-group">
                <label class="control-label">文字：</label>
                <div class="controls">
                    <input class="" name="title" value="" maxlength="5" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接：</label>
                <div class="controls">
                    <input name="link_url" type="hidden">



                    <div class="dropdown hover">
                        <a class="js-dropdown-toggle dropdown-toggle control-action" href="javascript:void(0);">设置链接到的页面地址 <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-modal-magazine" data-type="feature" href="javascript:void(0);">微页面及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-goods" data-type="goods" href="javascript:void(0);">商品及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-activity" data-type="activity" href="javascript:void(0);">营销活动</a>
                            </li>
                            <li>
                                <a class="js-modal-survey" data-type="survey" href="javascript:void(0);">投票调查</a>
                            </li>

                            <li>
                                <a class="js-modal-homepage" data-type="homepage" href="javascript:void(0);">店铺主页</a>
                            </li>
                            <li>
                                <a class="js-modal-usercenter" data-type="usercenter" href="javascript:void(0);">会员主页</a>
                            </li>


                            <li>
                                <a class="js-modal-links" data-type="links" href="javascript:void(0);">自定义外链</a>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </li><li class="choice"><div class="choice-image">

        <a class="add-image js-trigger-image" href="javascript: void(0);"><i class="icon-add"></i>  添加图片</a>


        <!-- for error msg -->
        <div class="control-group">
            <div class="controls">
                <input name="image_url" type="hidden">
            </div>
        </div>
    </div>
        <div class="choice-content">
            <div class="control-group">
                <label class="control-label">文字：</label>
                <div class="controls">
                    <input class="" name="title" value="" maxlength="5" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接：</label>
                <div class="controls">
                    <input name="link_url" type="hidden">



                    <div class="dropdown hover">
                        <a class="js-dropdown-toggle dropdown-toggle control-action" href="javascript:void(0);">设置链接到的页面地址 <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-modal-magazine" data-type="feature" href="javascript:void(0);">微页面及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-goods" data-type="goods" href="javascript:void(0);">商品及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-activity" data-type="activity" href="javascript:void(0);">营销活动</a>
                            </li>
                            <li>
                                <a class="js-modal-survey" data-type="survey" href="javascript:void(0);">投票调查</a>
                            </li>

                            <li>
                                <a class="js-modal-homepage" data-type="homepage" href="javascript:void(0);">店铺主页</a>
                            </li>
                            <li>
                                <a class="js-modal-usercenter" data-type="usercenter" href="javascript:void(0);">会员主页</a>
                            </li>


                            <li>
                                <a class="js-modal-links" data-type="links" href="javascript:void(0);">自定义外链</a>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </li><li class="choice"><div class="choice-image">

        <a class="add-image js-trigger-image" href="javascript: void(0);"><i class="icon-add"></i>  添加图片</a>


        <!-- for error msg -->
        <div class="control-group">
            <div class="controls">
                <input name="image_url" type="hidden">
            </div>
        </div>
    </div>
        <div class="choice-content">
            <div class="control-group">
                <label class="control-label">文字：</label>
                <div class="controls">
                    <input class="" name="title" value="" maxlength="5" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接：</label>
                <div class="controls">
                    <input name="link_url" type="hidden">



                    <div class="dropdown hover">
                        <a class="js-dropdown-toggle dropdown-toggle control-action" href="javascript:void(0);">设置链接到的页面地址 <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-modal-magazine" data-type="feature" href="javascript:void(0);">微页面及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-goods" data-type="goods" href="javascript:void(0);">商品及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-activity" data-type="activity" href="javascript:void(0);">营销活动</a>
                            </li>
                            <li>
                                <a class="js-modal-survey" data-type="survey" href="javascript:void(0);">投票调查</a>
                            </li>

                            <li>
                                <a class="js-modal-homepage" data-type="homepage" href="javascript:void(0);">店铺主页</a>
                            </li>
                            <li>
                                <a class="js-modal-usercenter" data-type="usercenter" href="javascript:void(0);">会员主页</a>
                            </li>


                            <li>
                                <a class="js-modal-links" data-type="links" href="javascript:void(0);">自定义外链</a>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </li><li class="choice"><div class="choice-image">

        <a class="add-image js-trigger-image" href="javascript: void(0);"><i class="icon-add"></i>  添加图片</a>


        <!-- for error msg -->
        <div class="control-group">
            <div class="controls">
                <input name="image_url" type="hidden">
            </div>
        </div>
    </div>
        <div class="choice-content">
            <div class="control-group">
                <label class="control-label">文字：</label>
                <div class="controls">
                    <input class="" name="title" value="" maxlength="5" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接：</label>
                <div class="controls">
                    <input name="link_url" type="hidden">



                    <div class="dropdown hover">
                        <a class="js-dropdown-toggle dropdown-toggle control-action" href="javascript:void(0);">设置链接到的页面地址 <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-modal-magazine" data-type="feature" href="javascript:void(0);">微页面及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-goods" data-type="goods" href="javascript:void(0);">商品及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-activity" data-type="activity" href="javascript:void(0);">营销活动</a>
                            </li>
                            <li>
                                <a class="js-modal-survey" data-type="survey" href="javascript:void(0);">投票调查</a>
                            </li>

                            <li>
                                <a class="js-modal-homepage" data-type="homepage" href="javascript:void(0);">店铺主页</a>
                            </li>
                            <li>
                                <a class="js-modal-usercenter" data-type="usercenter" href="javascript:void(0);">会员主页</a>
                            </li>


                            <li>
                                <a class="js-modal-links" data-type="links" href="javascript:void(0);">自定义外链</a>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </li></ul></div>
</form>