<form class="form-horizontal" novalidate="">

    <div class="control-group js-collection-region"><ul class="choices ui-sortable"><li class="choice"><div class="control-group">
        <label class="control-label"><em class="required">*</em>导航名称：</label>
        <div class="controls">
            <input name="title" value="全部商品" type="text">
        </div>
    </div>
        <div class="control-group">
            <label class="control-label"><em class="required">*</em>链接到：</label>
            <div class="controls">



                <div class="control-action clearfix">
                    <div class="pull-left js-link-to link-to">

                        <a href="https://wap.koudaitong.com/v2/showcase/tag?alias=74i7wrw2" target="_blank" class="new-window link-to-title">
                    <span class="label label-success">
                        商品标签
                        <em class="link-to-title-text">全部商品</em>
                    </span>
                        </a>


                        <a href="javascript:;" class="js-delete-link link-to-title close-modal" title="删除">×</a>

                    </div>
                    <div class="dropdown hover pull-right">
                        <a class="dropdown-toggle" href="javascript:void(0);">修改 <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-modal-magazine" data-type="feature" href="javascript:void(0);">微页面及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-goods" data-type="goods" href="javascript:void(0);">商品及分类</a>
                            </li>
                            <li>
                                <a class="js-modal-activity" data-type="activity" href="javascript:void(0);">营销活动</a>
                            </li>
                            <li>
                                <a class="js-modal-survey" data-type="survey" href="javascript:void(0);">投票调查</a>
                            </li>

                            <li>
                                <a class="js-modal-homepage" data-type="homepage" href="javascript:void(0);">店铺主页</a>
                            </li>
                            <li>
                                <a class="js-modal-usercenter" data-type="usercenter" href="javascript:void(0);">会员主页</a>
                            </li>


                            <li>
                                <a class="js-modal-links" data-type="links" href="javascript:void(0);">自定义外链</a>
                            </li>
                        </ul>

                    </div>
                </div>



                <input name="link_url" type="hidden">
            </div>
        </div>
        <div class="actions">
            <span class="action add close-modal" title="添加">+</span><span class="action delete close-modal" title="删除">×</span>
        </div>
    </li></ul></div>
    <div class="control-group options" style="display: block;">
        <a class="add-option js-add-option" href="javascript:void(0);"><i class="icon-add"></i> 添加一个文本导航</a>
    </div>
</form>