<form class="form-horizontal custom-cube2-table cube2-edit" novalidate="">
    <div class="control-group layout-map">
        <label class="control-label">布局：</label>
        <div class="controls" name="layout_map">
            <table>
                <tbody>
                <tr><td class="empty" data-x="0" data-y="0"></td><td class="empty" data-x="1" data-y="0"></td><td class="empty" data-x="2" data-y="0"></td><td class="empty" data-x="3" data-y="0"></td></tr><tr><td class="empty" data-x="0" data-y="1"></td><td class="empty" data-x="1" data-y="1"></td><td class="empty" data-x="2" data-y="1"></td><td class="empty" data-x="3" data-y="1"></td></tr><tr><td class="empty" data-x="0" data-y="2"></td><td class="empty" data-x="1" data-y="2"></td><td class="empty" data-x="2" data-y="2"></td><td class="empty" data-x="3" data-y="2"></td></tr><tr><td class="empty" data-x="0" data-y="3"></td><td class="empty" data-x="1" data-y="3"></td><td class="empty" data-x="2" data-y="3"></td><td class="empty" data-x="3" data-y="3"></td></tr>
                </tbody>
            </table>
            <p class="help-desc">点击 + 号添加内容</p>
        </div>
    </div>
    <div class="control-group js-item-region">
        <ul class="choices"></ul>
    </div>
</form>