<form class="form-horizontal" novalidate="">
    <div class="control-group">
        <label class="control-label">选择商品：</label>
        <div class="controls">
            <ul class="module-goods-list clearfix ui-sortable" name="goods">

                <li>
                    <a href="javascript:void(0);" class="js-add-goods add-goods"><i class="icon-add"></i></a>
                </li>
            </ul>
        </div>
    </div>
</form>
    <div class="js-goods-style-region" style="margin-top: 10px;"><div><form class="form-horizontal" novalidate="">
        <div class="control-group">
            <label class="control-label">列表样式：</label>
            <div class="controls">
                <label class="radio inline">
                    <input name="size" value="0" type="radio">大图
                </label>
                <label class="radio inline">
                    <input name="size" value="1" type="radio">小图
                </label>
                <label class="radio inline">
                    <input name="size" value="2" checked="" type="radio">一大两小
                </label>
                <label class="radio inline">
                    <input name="size" value="3" type="radio">详细列表
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="controls-card">
                    <div class="controls-card-tab">
                        <label class="radio inline">
                            <input name="size_type" value="0" checked="" type="radio">
                            卡片样式
                        </label>

                        <label class="radio inline">
                            <input name="size_type" value="2" type="radio">
                            极简样式
                        </label>

                    </div>

                    <div class="controls-card-item">
                        <div>
                            <label class="checkbox inline">

                                <input name="buy_btn" value="1" checked="" type="checkbox">显示购买按钮

                            </label>
                        </div>

                        <div style="margin: 10px 0 0 20px;">
                            <label class="radio inline">
                                <input name="buy_btn_type" value="1" checked="" type="radio">
                                样式1
                            </label>
                            <label class="radio inline">
                                <input name="buy_btn_type" value="2" type="radio">
                                样式2
                            </label>

                            <label class="radio inline">
                                <input name="buy_btn_type" value="3" type="radio">
                                样式3
                            </label>

                            <label class="radio inline">
                                <input name="buy_btn_type" value="4" type="radio">
                                样式4
                            </label>
                        </div>

                    </div>




                    <div class="controls-card-item">
                        <label class="checkbox inline">

                            <input name="title" value="0" type="checkbox">显示商品名 (小图不显示名称)

                        </label>
                    </div>


                    <div class="controls-card-item">
                        <label class="checkbox inline">

                            <input name="price" value="1" checked="" type="checkbox">显示价格

                        </label>
                    </div>

                </div>
            </div>
        </div>

    </form>
    </div></div>
