<form class="form-horizontal" novalidate="">
    <div class="control-group">
        <label class="control-label">显示方式：</label>
        <div class="controls">

            <label class="radio inline">
                <input name="show_method" value="0" checked="" type="radio">折叠轮播
            </label>
            <label class="radio inline">
                <input name="show_method" value="1" type="radio">分开显示
            </label>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label">显示大小：</label>
        <div class="controls">
            <label class="radio inline">
                <input name="size" value="0" checked="" type="radio">大图
            </label>

        </div>
    </div>

    <div class="control-group js-choices-region"><ul class="choices ui-sortable"></ul></div>

    <div class="control-group options">
        <a href="javascript:void(0);" class="add-option js-add-option"><i class="icon-add"></i> 添加一个广告</a>
    </div>
</form>