<div class="edit-rich-text" style=""><form class="form-horizontal" novalidate="" style="">

    <div class="control-group">
        <div class="pull-left">
            <label class="control-label">背景颜色：</label>
            <div class="input-append">
                <input value="#ffffff" name="color" class="span1" type="color">
                <button class="btn js-reset-bg" type="button">重置</button>
            </div>
        </div>
        <div class="pull-left">
            <label class="control-label">是否全屏：</label>
            <label class="checkbox inline">
                <input name="fullscreen" type="checkbox"> 全屏显示
            </label>
        </div>
    </div>

    <div class="control-group" style=""></div>
    <textarea name="editorValue" id="ueditor_textarea_editorValue" style="display: none;"></textarea></form>
</div>