<form class="form-horizontal" novalidate="">
    <div class="control-group">
        <label class="control-label">营销活动：</label>
        <div class="controls">
            <div class="control-action clearfix">
                <div class="dropdown hover">
                    <a class="dropdown-toggle"><i class="icon-add"></i> 添加活动</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="js-add-seckill-activity add-activity">秒杀</a>
                        </li>
                        <li>
                            <a class="js-add-limited-discount-activity add-activity">限时折扣</a>
                        </li>
                    </ul>
                </div>
                <input name="activity_id" type="hidden">
            </div>
        </div>
    </div>
</form>