<div class="app-preview">
	<div class="app-header"></div>
	<div class="app-entry">
		<div class="app-config js-config-region"></div>
		<div class="app-fields js-fields-region">
			<div class="app-fields ui-sortable"></div>
		</div>
	</div>
	<div class="js-add-region"></div>
</div>
<div class="app-sidebar">
	<div class="arrow"></div>
	<div class="app-sidebar-inner js-sidebar-region"></div>
</div>
<div class="app-actions">
	<div class="form-actions text-center">
		<input class="btn btn-primary btn-add" id="submit" type="submit" value="上 架"
			data-loading-text="上架..."><input
			class="btn btn-preview" id="submit" type="submit" value="预览效果"
			data-loading-text="预览效果...">
	</div>
</div>