<div>
	<form class="form-horizontal" novalidate="">
		<div class="control-group">
			<label class="control-label"> <em class="required">*</em>
				页面名称：
			</label>
			<div class="controls">
				<input class="input-xxlarge" name="title" value="会员主页" type="text">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">背景图：</label>
			<div class="controls">
				<img id="custom-level-img"
					src="https://img.yzcdn.cn/upload_files/2015/01/23/FrQkuoGIlU7QNfIdiKQEQnbIDH7P.png"
					width="100" height="100"> <a
					class="js-choose-bg control-action" href="javascript: void(0);">修改背景图</a>
				<p class="help-block">建议尺寸：640 x 320 像素</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">等级：</label>
			<div class="controls">
				<label class="checkbox inline"> <input name="show_level"
					value="1" checked="" type="checkbox"> 显示等级
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">积分：</label>
			<div class="controls">
				<label class="checkbox inline"> <input name="show_point"
					value="1" checked="" type="checkbox"> 显示积分
				</label>
			</div>
		</div>
	</form>
</div>
