<form class="form-horizontal" novalidate="">
    <div class="control-group white-space-group">
        <label class="control-label">空白高度：</label>
        <div class="controls controls-slider">
            <div class="js-slider white-space-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
            <div class="slider-height"><span class="js-height">30</span> 像素</div>
        </div>
    </div>
</form>