<form class="form-horizontal" novalidate="">
    <div class="control-group">
        <label class="control-label"><em class="required">*</em>页面名称：</label>
        <div class="controls">
            <input class="wpageTitleS"  name="title"  value="<%= wpageTitle %>"  oninput="OnInput(event)" onpropertychange="OnPropChanged(event)"  placeholder="请输入微页面名称" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">页面描述：</label>
        <div class="controls">
            <input class="input-xxlarge" name="description" value="" placeholder="用户通过微信分享给朋友时，会自动显示页面描述" type="text">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">背景颜色：</label>
        <div class="controls">
            <input value="#f9f9f9" name="color" type="color">
            <button class="btn js-reset-bg" type="button">重置</button>
        </div>
    </div>
</form>