<form class="form-horizontal" novalidate="">
    <div class="control-group">
        <label class="control-label"><em class="required">*</em>页面名称：</label>
        <div class="controls">
            <input class="wpageTitleS"  name="title"  value="<%= wpageTitle %>"  oninput="OnInput(event)" onpropertychange="OnPropChanged(event)"  placeholder="请输入微页面名称" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">页面描述：</label>
        <div class="controls">
            <input class="input-xxlarge" name="description" value="" placeholder="用户通过微信分享给朋友时，会自动显示页面描述" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">分类：</label>
        <div class="controls">
            <select class="js-category chosen-select" name="category" data-selected-id="43360913,43360912,43360911" multiple="" data-placeholder="选择微页面分类" style="display: none;"></select><div class="chosen-container chosen-container-multi" style="width: 220px;" title=""><ul class="chosen-choices"><li class="search-field"><input value="选择微页面分类" class="default" autocomplete="off" style="width: 116px;" type="text"></li></ul><div class="chosen-drop"><ul class="chosen-results"></ul></div></div>
            <p class="help-inline">
                <a class="js-refresh-category"   href="javascript:void(0);">刷新</a>
                <span>|</span>
                <a class="new_window" target="_blank" href="//koudaitong.com/v2/showcase/category#create">+新建</a>
            </p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">背景颜色：</label>
        <div class="controls">
            <input value="#f9f9f9" name="color" type="color">
            <button class="btn js-reset-bg" type="button">重置</button>
            <p class="help-desc">背景颜色只在手机端显示。</p>
        </div>
    </div>
</form>