<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.system.AppAccountInfoMapper">
    <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.system.AppAccountInfo">
        <id column="sid" property="sid" jdbcType="BIGINT"/>
        <result column="appid" property="appid" jdbcType="VARCHAR"/>
        <result column="appsecret" property="appsecret" jdbcType="VARCHAR"/>
        <result column="storecode" property="storecode" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="developer_id" property="developerId" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="VARCHAR"/>
        <result column="card_url" property="cardUrl" jdbcType="VARCHAR"/>
        <result column="filed1" property="filed1" jdbcType="VARCHAR"/>
        <result column="filed2" property="filed2" jdbcType="VARCHAR"/>
        <result column="filed3" property="filed3" jdbcType="VARCHAR"/>
        <result column="filed4" property="filed4" jdbcType="VARCHAR"/>
        <result column="filed5" property="filed5" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
		sid, appid, appsecret, storecode, del_flag,developer_id,card_id,card_url
	</sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from appaccountinfo
        where sid = #{sid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from appaccountinfo
		where sid = #{sid,jdbcType=BIGINT}
	</delete>
    <insert id="insert" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
		insert into appaccountinfo (sid, appid, appsecret,
		storecode, del_flag)
		values (#{sid,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR},
		#{appsecret,jdbcType=VARCHAR},
		#{storecode,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER})
	</insert>
    <insert id="insertSelective" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
        insert into appaccountinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="appid != null">
                appid,
            </if>
            <if test="appsecret != null">
                appsecret,
            </if>
            <if test="storecode != null">
                storecode,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="developerId != null">
                developer_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=BIGINT},
            </if>
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="appsecret != null">
                #{appsecret,jdbcType=VARCHAR},
            </if>
            <if test="storecode != null">
                #{storecode,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="developerId != null">
                #{developerId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
        update appaccountinfo
        <set>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="appsecret != null">
                appsecret = #{appsecret,jdbcType=VARCHAR},
            </if>
            <if test="storecode != null">
                storecode = #{storecode,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="developerId != null">
                developer_id = #{developerId,jdbcType=VARCHAR},
            </if>
        </set>
        where sid = #{sid,jdbcType=BIGINT}
    </update>
    <update id="updateByStoreCode" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
        update appaccountinfo
        <set>
            <if test="cardId != null">
                card_id = #{cardId,jdbcType=VARCHAR},
            </if>
            <if test="cardUrl != null">
                card_url = #{cardUrl,jdbcType=VARCHAR},
            </if>
            <if test="filed1 != null">
                filed1 = #{filed1,jdbcType=VARCHAR},
            </if>
        </set>
        where storecode =  #{storecode,jdbcType=VARCHAR} and del_flag=0
    </update>
    <update id="updateByStorecodeSelective" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
        update appaccountinfo
        <set>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="appsecret != null">
                appsecret = #{appsecret,jdbcType=VARCHAR},
            </if>
            <if test="storecode != null">
                storecode = #{storecode,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="developerId != null">
                developer_id = #{developerId,jdbcType=VARCHAR},
            </if>
        </set>
        where storecode = #{storecode,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.system.AppAccountInfo">
		update appaccountinfo
		set appid = #{appid,jdbcType=VARCHAR},
		appsecret = #{appsecret,jdbcType=VARCHAR},
		storecode = #{storecode,jdbcType=VARCHAR},
		del_flag = #{delFlag,jdbcType=INTEGER}
		where sid = #{sid,jdbcType=BIGINT}
	</update>

    <select id="selectListByParam" resultMap="BaseResultMap"
            parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from appaccountinfo
        <where>
            <if test="sid != null">
                and sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="appid != null">
                and appid = #{appid,jdbcType=VARCHAR}
            </if>
            <if test="appsecret != null">
                and appsecret = #{appsecret,jdbcType=VARCHAR}
            </if>
            <if test="storecode != null">
                and storecode = #{storecode,jdbcType=VARCHAR}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="developerId != null">
                and developer_id = #{developerId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectAppInfoListByParam" resultType="com.wechat.manage.pojo.system.WechatAppDto"
            parameterType="com.wechat.manage.pojo.system.WechatAppDto">
        SELECT  app.sid,app.appid,app.appsecret,app.storecode,app.card_id as cardId,app.card_url as cardUrl,
        app.developer_id as developerId ,store.business_name as storename,
        store.localImgUrl as logoPic,
        store.wechatImgUrl as logoWxPic
        FROM appaccountinfo app inner join storeinfo store
        on app.storecode=store.store_code
        <where>
            <if test="sid != null">
                and app.sid = #{sid,jdbcType=BIGINT}
            </if>
            <if test="appid != null">
                and appid = #{appid,jdbcType=VARCHAR}
            </if>
            <if test="appsecret != null">
                and appsecret = #{appsecret,jdbcType=VARCHAR}
            </if>
            <if test="storecode != null">
                and app.storecode = #{storecode,jdbcType=VARCHAR}
            </if>
            <if test="delFlag != null">
                and app.del_flag = #{delFlag,jdbcType=INTEGER}
            </if>
            <if test="delFlag == null">
                and app.del_flag = '0'
            </if>
            <if test="developerId != null">
                and developer_id = #{developerId,jdbcType=VARCHAR}
            </if>
        </where>
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

</mapper>