<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.manage.mapper.system.UserAuthorizationStoreMapper" >
  <resultMap id="BaseResultMap" type="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="is_lose_efficacy" property="isLoseEfficacy" jdbcType="INTEGER" />
    <result column="user_number" property="userNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, user_id, user_name, store_code, business_name, is_lose_efficacy, user_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_authorization_store
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_authorization_store
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    insert into user_authorization_store (sid, user_id, user_name, 
      store_code, business_name, is_lose_efficacy, 
      user_number)
    values (#{sid,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{storeCode,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, #{isLoseEfficacy,jdbcType=INTEGER}, 
      #{userNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    insert into user_authorization_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="isLoseEfficacy != null" >
        is_lose_efficacy,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="isLoseEfficacy != null" >
        #{isLoseEfficacy,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    update user_authorization_store
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="isLoseEfficacy != null" >
        is_lose_efficacy = #{isLoseEfficacy,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    update user_authorization_store
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      store_code = #{storeCode,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      is_lose_efficacy = #{isLoseEfficacy,jdbcType=INTEGER},
      user_number = #{userNumber,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>


  <select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from user_authorization_store
    <where>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null" >
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="storeCode != null" >
        and store_code = #{storeCode,jdbcType=VARCHAR}
      </if>
      <if test="businessName != null" >
        and business_name = #{businessName,jdbcType=VARCHAR}
      </if>
      <if test="isLoseEfficacy != null" >
        and is_lose_efficacy = #{isLoseEfficacy,jdbcType=INTEGER}
      </if>
      <if test="userNumber != null" >
        and user_number = #{userNumber,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <update id="updateByUserIdAndStoreCode" parameterType="com.wechat.manage.pojo.system.entity.UserAuthorizationStore" >
    update user_authorization_store
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="isLoseEfficacy != null" >
        is_lose_efficacy = #{isLoseEfficacy,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
    AND store_code = #{storeCode,jdbcType=VARCHAR}
  </update>

</mapper>